<template>
<div>
  <router-link class="routerLink text-black" to="/event/detail">
    <div class="card mt-5" style="weight: 18rem;">
    <img src="/assets/img/hero_vik_event.png" style="border-radius : 20px;" alt="..." class="rounded">
        <div class="card-body card-background">
            <h5 class="card-text"><b> Dui Massa Massa nis</b></h5>
            <div class="d-flex mt-3">
                <i class="fa-regular fa-calendar icon-color mr-3"></i>
                <p>Minggu, 11 Sepetember 2022</p>
            </div>
            <div class="d-flex">
                <i class="fa-regular fa-clock icon-color mr-3"></i>
                <p>09.00 s/d 11.00 WIB</p>
            </div>
        </div>
    </div>
  </router-link>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>
.card-background{
    background-color: #F4F4F4;
}

.routerLink{
     text-decoration: none;
 }

.card{
    border-radius: 20px;
}

.card-body{
    border-radius: 0 0 20px 20px;
}

.icon-color{
    color: #EF4C29;
}
</style>