<template>
    <div class="mt-5">
        <router-link class="routerLink text-black" to="/event-admin/detail-event">
            <div class="card card-background mb-4" style="">
                <div class="row g-0">
                    <div class="col-md-3">
                    <img src="/assets/img/hero_vik_event.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="d-flex">
                            <div class="card-body mt-4">
                                <h5 class="card-text"><b>Fusce aliquet porttitor convallis egestas diam.</b></h5>
                                <div class="d-flex mt-3">
                                    <i class="fa-regular fa-calendar icon-color mr-3"></i>
                                    <p>Minggu, 11 Sepetember 2022</p>
                                </div>
                                <div class="d-flex">
                                    <i class="fa-regular fa-clock icon-color mr-3"></i>
                                    <p>09.00 s/d 11.00 WIB</p>
                                </div>
                                <p class="card-text font-weight-bold">Hotel xxx lt 4 . Jakarta</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

.card-background{
    background-color: #F4F4F4;
}

.routerLink{
     text-decoration: none;
 }

img{
    height: 250px;
}

.btn-view {
    align-self: flex-end;
    height: 50px;
    color: #fff;
    background-color: #EF4C29;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    font-size: 1.1rem;
    border-radius: 0.35rem;
}

.btn-view:hover {
    color:#EF4C29;
    background-color: #fff;
}
.icon-color{
    color: #EF4C29;
}
</style>