<template>
<div>
  <div class="container">
    <!-- card -->
    <div class="pt-5">
      <div class="row">
        <div class="col-md-6">
          <!-- <h2>{{ newSurveyName }}</h2 -->
            <div class="text-center">
              <img src="/assets/img/survey_history.svg" />
            </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="newSurveyName" class="form-label">Nama Survey</label>
            <input v-model="newSurveyName" type="email" class="form-control" id="newSurveyName" aria-describedby="emailHelp"  placeholder="Type Your New Survey Name" required>
          </div>
          <div class="mb-3">
            <label for="newCategory" class="form-label">Category</label>
            <select name="newCategory" id="newCategory" class="form-control" v-model="newCategory" >
              <option  disabled>Choose Category</option>
              <option v-for="item in dataActiveSurveys" v-bind:value="item.id" :key="item.id" >{{ item.name }}</option>
            </select>
          </div>
          <div v-for="items in dataActiveSurveys"  :key="items.id">

          </div>
          <div class="mb-3">
            <label for="newType" class="form-label">Type Survey</label>
            <select name="newType" id="newType" class="form-control" v-model="newType" >
              <option value="Public" disabled>select option</option>
              <option value="Member">Member</option>
              <option value="Public">Public</option>
            </select>
          </div>
          <div class="d-grid">
            <button type="button" class="btn btn-orange" @click="createNewSurvey" style="width:100%"><font-awesome-icon icon="fa-solid fa-plus" />&nbsp;&nbsp; Survey Baru</button>
          </div>
            
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
  </div>
</template>

<script>
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"

/* import the fontawesome core */
import { library } from '@fortawesome/fontawesome-svg-core'

/* import font awesome icon component */
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

/* import specific icons */
import { faPlus } from '@fortawesome/free-solid-svg-icons'
import HeaderSurvey from "../../../components/survey/HeaderSurvey";
/* add icons to the library */
library.add(faPlus)

/* add font awesome icon component */
Vue.component('font-awesome-icon', FontAwesomeIcon)

Vue.config.productionTip = true

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
  name: "CreateSurvey",
  components: {HeaderSurvey},
  data() {
    return {
      dataActiveSurveys: [],
      newSurveyName: '',
      newCategory:null,
      newType:'',

      /* This just for development environment.
      For production environment: accessKey must be on .env */
      accessKey: "30d2d9d234ef47e4818d9fbd19b5360e",
      url: process.env.APP_URL
    }
  },
  mounted(){
    Vue.axios
        .get( "/api/surveycategory")
        .then( response => ( this.dataActiveSurveys = response.data.data ))
        .catch(error => {
          alert(error.message)
          //alert(this.url )
        });
  },
  methods:{
    createNewSurvey() {
      Vue.axios
          .post(
              `https://api.surveyjs.io/private/Surveys/create?accessKey=${this.accessKey}&name=${this.newSurveyName}`
          )
          //.then( response => ( window.location.href = "/researcher/surveys"))
          //.then( response => ( console.log(response.data.Id)))
          .then( response => {
            Vue.axios
            .post( "/api/surveyjs-create", {user_id: 1,
            survey_id: `${response.data.Id}`,
            survey_name: `${response.data.Name}`,
            survey_resultsId: `${response.data.ResultId}`,
            survey_postId: `${response.data.PostId}`,
            category_id: this.newCategory,
            status: 1,
            type: `${this.newType}`})
            .then( response => ( window.location.href = "/researcher/survey-new"))
            .catch(error => {
              alert(error.message+this.newCategory)
            });
          })
          .catch(error => {
            alert(error.message)
          });
    }
  }
}
</script>

<style scoped>
  .card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .btn-orange{
    background-color: #ef4c29;
    color: white;
  }
</style>