<template>
  <div class="container">
    <!-- card -->
    <div class="pt-5">
      <div class="row">
        <router-link :to="`/create-survey`" tag="button" class="btn">
          <button type="button" class="btn btn-orange" style="width:100%"><font-awesome-icon icon="fa-solid fa-plus" />&nbsp;&nbsp; Survey Baru</button>
        </router-link>
      </div>
      <!-- crete survey lama -->
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-orange" @click="createNewSurvey" style="width:100%"><font-awesome-icon icon="fa-solid fa-plus" />&nbsp;&nbsp; Survey Baru</button>
            </div>
            <div class="col-md-8">
              <input v-model="newSurveyName" type="text" class="form-control" id="newSurveyName" placeholder="Type Your New Survey Name" required>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h2>{{ newSurveyName }}</h2>
        </div>
      </div> -->
      
      
      <div class="card mt-3" v-for="(item, index) in dataActiveSurveys" :key="index">
        <div class="card-body">
          <div class="row">
              <div class="col-md-2">
                <img src="/assets/img/recommendation_4.png" />
              </div>
              <div class="col-md-4 pt-3">
                <h5 style="color: #ef4c29;"><b>{{ item.Name }}</b></h5>
                <span>{{ item.CreatedAt | moment("from", "now") }}</span>
              </div>
              <div class="col-md-1">
                <p>Status</p>
                <p style="color: green;" class="mt-4"><b>Aktif</b></p>
              </div>
              <div class="col-md-1">
                <p>Desain</p>
                <router-link :to="`/creator/${item.Id}`" tag="button" class="btn">
                  <img src="/assets/img/Edit Square.png" />
               </router-link>
              </div>
              <div class="col-md-1">
                <p>Analisis</p>
                <router-link :to="`/creator/${item.Id}`" tag="button" class="btn">
                  <img src="/assets/img/bar graph.png" />
               </router-link>
              </div>
              <div class="col-md-1">
                <p>Bagikan</p>
                <router-link :to="`/`" tag="button" class="btn">
                  <img src="/assets/img/icon share.png" />
               </router-link>
              </div>
              <div class="col-md-1">
                <p>Hapus</p>
                <button type="button" class="btn" @click="deleteDataUser(item.Id)" disabled>
                  <img src="/assets/img/deleteicon.png" width="30px" />
               </button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
</template>

<script>
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"

/* import the fontawesome core */
import { library } from '@fortawesome/fontawesome-svg-core'

/* import font awesome icon component */
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

/* import specific icons */
import { faPlus } from '@fortawesome/free-solid-svg-icons'

/* add icons to the library */
library.add(faPlus)

/* add font awesome icon component */
Vue.component('font-awesome-icon', FontAwesomeIcon)

Vue.config.productionTip = true


Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
  name: "ListSurveyCreator",
  data() {
    return {
      dataActiveSurveys: [],
      newSurveyName: '',

      /* This just for development environment.
      For production environment: accessKey must be on .env */
      accessKey: "30d2d9d234ef47e4818d9fbd19b5360e",
    }
  },
  mounted(){
    Vue.axios
        .get("https://api.surveyjs.io/private/Surveys/getActive?accessKey=" + this.accessKey)
        .then( response => ( this.dataActiveSurveys = response.data ))
        .catch(error => {
          alert(error.message)
        });
  },
  methods:{
    createNewSurvey() {
      Vue.axios
          .post(
              `https://api.surveyjs.io/private/Surveys/create?accessKey=${this.accessKey}&name=${this.newSurveyName}`
          )
          .then( response => ( this.dataActiveSurveys = response.data
          ))
          .catch(error => {
            alert(error.message)
          });
          location.reload();
          
    },
    deleteDataUser(id) {
      Vue.axios
        .delete(
          `https://api.surveyjs.io/private/Surveys/delete/${id}?accessKey=${this.accessKey}`
        )
        .then( response => ( this.dataActiveSurveys = response.data ))
        .catch(error => {
          alert(error.message)
        });
    },
  }
}
</script>

<style scoped>
  .card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .btn-orange{
    background-color: #ef4c29;
    color: white;
  }
</style>