<template>
  <div class="container">
    <!-- card -->
    <div class="pt-5">
      <div class="card-body">
        <div class="row">
          <router-link :to="`/create-survey`" tag="button" class="btn">
            <button type="button" class="btn btn-orange" style="width:100%"><font-awesome-icon icon="fa-solid fa-plus" />&nbsp;&nbsp; Survey Baru</button>
          </router-link>
        </div>
      </div>
      <div class="card mt-3" v-for="(item, index) in dataActiveSurveys" :key="index">
        <div class="card-body">
          <div class="row">
              <div class="col-md-7">
                <div class="row">    
                  <div class="col-md-3">
                    <img src="/assets/img/recommendation_4.png" />
                  </div>
                  <div class="col-md-7 p-3 ">
                    <h5 style="color: #ef4c29;" class="mb-0"><b>{{ item.survey_name }}</b></h5>
                    <div v-if="item.type == 'Member'">
                      <p style="color: #df4909;" class="mb-0">{{item.type}}</p>
                    </div>
                    <div v-if="item.type == 'Public'">
                      <p style="color: #198754;" class="mb-0">{{item.type}}</p>
                    </div>
                    <p><span>{{ item.created_at | moment("from", "now") }}</span></p>
                  </div>
                  <div class="col-md-2">
                    <p>Status</p>
                    <p style="color: #198754;" class="mt-4"><b>Aktif</b></p>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="row">
                  <div class="col-md-3">
                    <p>Desain</p>
                    <router-link :to="`/creator/${item.survey_id}`" tag="button" class="btn">
                      <!-- <img src="/assets/img/Edit Square.png" /> -->
                      <font-awesome-icon icon="fa-solid fa-pen-to-square" />
                    </router-link>
                  </div>
                  <div class="col-md-3">
                    <p>Analisis</p>
                    <router-link :to="`/result-survey/${item.survey_id}`" tag="button" class="btn">
                      <!-- <img src="/assets/img/bar graph.png" /> -->
                      <font-awesome-icon icon="fa-solid fa-chart-simple" />
                  </router-link>
                  </div>
                  <div class="col-md-3">
                    <p>Bagikan</p>
                    <router-link :to="`/share-survey/${item.survey_id}`" tag="button" class="btn">
                      <!-- <img src="/assets/img/icon share.png" /> -->
                      <font-awesome-icon icon="fa-solid fa-share-nodes" />
                    </router-link>
                  </div>
                  <div class="col-md-3">
                    <p>Hapus</p>
                    <button type="button" class="btn" @click="deleteDataUser(item.survey_id)">
                      <!-- <img src="/assets/img/deleteicon.png" width="30px" /> -->
                      <font-awesome-icon icon="fa-solid fa-trash" />
                  </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
</template>

<script>
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"
/* import the fontawesome core */
import { library } from '@fortawesome/fontawesome-svg-core'

/* import font awesome icon component */
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

/* import specific icons */
import { faPenToSquare, faChartSimple, faShareNodes, faTrash } from '@fortawesome/free-solid-svg-icons'
/* add icons to the library */
library.add(faPenToSquare,faChartSimple, faShareNodes, faTrash)

/* add font awesome icon component */
Vue.component('font-awesome-icon', FontAwesomeIcon)

Vue.config.productionTip = true

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
  name: "ListSurvey",
  data() {
    return {
      id: 1, //id user ambil dari yang login
      dataActiveSurveys: [],
      newSurveyName: '',

      /* This just for development environment.
      For production environment: accessKey must be on .env */
      accessKey: "30d2d9d234ef47e4818d9fbd19b5360e",
    }
  },
  mounted(){
    Vue.axios
        //.get("https://api.surveyjs.io/private/Surveys/getActive?accessKey=" + this.accessKey)
        .get(`/api/surveyjs-showbyuser/${this.id}`)
        .then( response => ( this.dataActiveSurveys = response.data.data ))
        .catch(error => {
          alert(error.message)
        });
  },
  methods:{
    deleteDataUser(survey_id) {
      Vue.axios.delete(`/api/surveyjs-deletebyid/${survey_id}`)
        .then( response => {
          Vue.axios.delete(`https://api.surveyjs.io/private/Surveys/delete/${survey_id}?accessKey=${this.accessKey}`)
          .then( response => ( window.location.href = "/researcher/survey-new"))
          .catch(error => {
            alert(error.message)
          });
        })
        .catch(error => {
          alert(error.message)
        });
    },
  }
}
</script>

<style scoped>
  .card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  p{
    font-size:14;
  }
  .btn-orange{
    background-color: #ef4c29;
    color: white;
  }
</style>