<template>
  <div>
    <div id="surveyVizPanel" />
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

import { Model } from "survey-core";
import { VisualizationPanel } from "survey-analytics";

import "survey-core/survey.i18n.js";
import "survey-core/defaultV2.css";
import "survey-analytics/survey.analytics.min.css";
import "/css/style-surveyjs.css";

const vizPanelOptions = {
  allowHideQuestions: false,
};
export default {
  name: "SurveyCreator",
  data() {
    return {
      id: this.$route.params.id,
      accessKey: "30d2d9d234ef47e4818d9fbd19b5360e",
    };
  },
  mounted() {
    Vue.axios
      .get( "/api/surveyjs-showbyid/" + this.id)
      .then((data) => {
        var jsonWithIds = {
          surveyId: this.$route.params.id,
          surveyPostId: data.data.data.survey_postId,
        };
        var survey = new Model(jsonWithIds);

        Vue.axios
          .get(
            "https://api.surveyjs.io/private/Surveys/getSurveyResults/" +
              this.id +
              "?accessKey=" +
              this.accessKey
            //"https://api.surveyjs.io/private/Surveys/getSurveyPublicResults/5af48e08-a0a5-44a5-83f4-1c90e8e98de1",
          )
          .then((data) => {
            const vizPanel = new VisualizationPanel(
              survey.getAllQuestions(),
              data.Data,
                vizPanelOptions
              );
              vizPanel.showHeader = false;
              vizPanel.render("surveyVizPanel");
            // if(data.Data > 0){
              
            // }else{
            //   alert("Belum ada jawaban");
            // }
          })
          .catch((error) => {
            alert("Belum ada jawaban");
          });
      })
      .catch((error) => {
        alert(error.message);
      });

    
  },
};
</script>

<style scoped>
</style>