<template>
    <div>
        <!-- Breadcrumb -->
        <section class="breadcrumb-contact mt-3 ms-5" id="breadcrumb-contact">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/researcher/surveys" class="link-yellow text-decoration-none"><font-awesome-icon icon="fa-solid fa-house" />
                            Beranda</a></li>
                    <li class="breadcrumb-item">
                        <a href="researcher/surveys#/creator/"
                            class="link-secondary text-decoration-none"> Survey</a>
                    </li>
                    <li class="breadcrumb-item active"><a
                            href="route('researcher.surveys.collectRespondent', $survey->id)"
                            class="link-secondary text-decoration-none">Kumpulkan Responden</a>
                    </li>
                    <!-- <li class="breadcrumb-item"><a href="route('researcher.surveys.statusSurvey', $survey->id)"
                            class="link-secondary text-decoration-none">Status Survey</a>
                    </li> -->
                    <li class="breadcrumb-item"><a href=" route('researcher.surveys.report', $survey->id) "
                            class="link-secondary text-decoration-none">Hasil Analisis</a>
                    </li>
                </ol>
            </nav>
        </section>
        <hr class="mb-0">
        <!-- end Breadcrumb -->

        <!-- Collect Respondent -->
        <section class="collect-respondent py-5" id="collect-respondent">
            <div class="container">
                <!-- Share Link -->
                <div class="border rounded p-5" style="margin-bottom: 200px">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Bagikan Tautan</h5>
                            <p style="opacity: 80%;">Bagikan tautan ini dengan responden Anda untuk mengumpulkan tanggapan
                                mereka</p>
                          <div class="d-flex align-items-center mb-2">
                            <label class="col-2">Link Public Survey :</label>
                            <div class="form-control wizard-form-control d-flex align-items-center testing-code px-20px mb-10px">
                              <span class="code text-bold">{{ this.shareableLink }}</span>
                            </div>
                            &nbsp;
                            <span style="background-color: #F2F2F2;" class="btn link-secondary fs-4 me-2 ml-auto" @click.stop.prevent="copyTestingCode">
                                    <font-awesome-icon icon="fa-solid fa-copy" />
                                </span>
                            <input type="hidden" id="testing-code" :value="this.shareableLink">
                            <button style="background-color: #F2F2F2;" class="btn link-secondary fs-4 me-2" id="btn-edit"
                                    onclick="show()" data-bs-toggle="modal" data-bs-target="#editLinkModal">
                              <font-awesome-icon icon="fa-solid fa-pencil" />
                            </button>
                            </div>
                            <!-- <p class="fs-12px" style="opacity: 80%;">Edit tautan terlebih dahulu untuk mendapatkan Public Survey</p> -->
                        </div>
                    </div>
                </div>
                <!-- End Share Link -->

                <!-- Modal Edit Link  -->
                <div class="modal fade" id="editLinkModal" aria-labelledby="editLinkModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editLinkLabel">Edit Tautan</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="container">
                                            <label class="form-label">Masukkan tautan baru</label>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text"> {{ URL_HOST }} </span>
                                                <input 
                                                    type="text" 
                                                    class="form-control"
                                                    aria-describedby="basic-addon3"
                                                    v-model="slug"
                                                    maxlength="25"
                                                    minlength="3"
                                                    required
                                                >
                                            </div>
                                            <span id="input-error" class="text-danger fw-light">
                                              {{ error }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="modal-footer">
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="container">
                                        <div class="text-end">
                                            <button type="button" class="btn btn-secondary me-2"
                                            data-bs-dismiss="modal">Batal</button>
                                            <button type="button" class="btn btn-orange ms-auto" @click="editSlug">
                                                Simpan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Edit Link -->
            </div>
        </section>
    </div>
</template>

<script>
import Vue from "vue"
/* import the fontawesome core */
import { library } from '@fortawesome/fontawesome-svg-core'

/* import font awesome icon component */
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

/* import specific icons */
import { faHouse, faCopy, faPencil } from '@fortawesome/free-solid-svg-icons'
import {error} from "jquery";
/* add icons to the library */
library.add(faHouse,faCopy,faPencil)

/* add font awesome icon component */
Vue.component('font-awesome-icon', FontAwesomeIcon)

Vue.config.productionTip = true


export default {
    name: "ShareSurvey",
    data(){
        return {
            URL_HOST: window.location.host,
            id: this.$route.params.id,
            shareableLink: '',
            slug:'',
            error: ''
        };
    },
  mounted(){
    Vue.axios
        .get(`/api/surveyjs-shareablelink/${this.id}`)
        .then( response =>{ 
            this.slug = response.data.data[0]['slug'];
            this.shareableLink = response.data.data[0]['shareable_link'];
        })
        .catch(error => {
          alert(error.message)
        });
  },
    methods: {
        editSlug () {
          Vue.axios
              .put("/api/surveyjs-updateslug/" + this.id,
                  {
                    slug: this.slug
                  })
              .then( response => {
                alert(response.data.message)
                window.location.reload()
              })
              .catch( error => {
                if (!error.response) {
                  alert(error.message)
                }
                this.error = error.response.data.message;
              })
        },
        copyTestingCode () {
          let testingCodeToCopy = document.querySelector('#testing-code')
          testingCodeToCopy.setAttribute('type', 'text')   
          testingCodeToCopy.select()

          try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            alert('Link survey was copied ' + msg);
          } catch (err) {
            alert('Oops, unable to copy');
          }

          /* unselect the range */
          testingCodeToCopy.setAttribute('type', 'hidden')
          window.getSelection().removeAllRanges()
        },
    }
}
</script>

<style scoped>
.btn-orange{
    background-color: #ef4c29;
    color: white;
  }
</style>