<template>
  <div>
    <div
      class="bg-image p-5"
      style="
        background-image: url(/assets/img/bg-hero-vik-laporan.png);
        background-size: cover;
        height: auto;
      "
    >
      <div class="row justify-content-center align-middle">
        <div class="col-12 col-lg-11 align-items-center">
          <div class="row">
            <div class="col-lg-4">
              <h1><b>VIKAsia News |</b></h1>
            </div>
            <div class="col-lg-8">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">🔍</span>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Search"
                  aria-label="Search"
                  v-model="search"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner -->
    <div class="container">
      <CardBannerNews />

      <!-- Loading -->
      <div v-if="loading" class="text-center justify-content-center m-5">
        <h1>Loading...</h1>
      </div>
      <!-- If data not found -->
      <div v-if="notFound" class="text-center justify-content-center m-5">
        <h1>Data Not Found</h1>
      </div>

      <!-- Card Topic -->
      <div class="container-fluid" v-if="resultQuery.length">
        <div class="row">
          <!-- Card -->
          <div
            class="col-lg-4 my-3"
            v-for="(item, index) in resultQuery"
            :key="item"
          >
            <div v-if="index < 3">
              <router-link class="routerLink text-black" to="/artikel-data">
                <div class="row">
                  <div class="col-12">
                    <img src="/assets/img/Rectangle 983.png" alt="" />
                    <p class="card-text text-muted fw-500 fs-16px mt-3">
                      <!-- 26 Sept 2022{{ item.createdAt}} -->
                      {{ formatDate(item.createdAt) }}
                    </p>
                    <h4 class="card-text mb-3">
                      <b>
                        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
                        {{ item.title }}
                      </b>
                    </h4>
                    <label class="tags-item text-light">{{
                      item.topic_id
                    }}</label>
                  </div>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <!-- Section 2 -->
      <div class="row mt-3">
        <div class="col-lg-7">
          <!-- Card News Feed -->
          <div class="mt-3">
            <h3 class="font-weight-bold" style="color: #ef4c29">News Feed</h3>
            <div class="progress mb-5" style="height: 5px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 14%; background-color: #ef4c29"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="container-fluid" v-if="resultQuery.length">
              <div class="row" v-for="(item, index) in resultQuery" :key="item">
                <!-- Card -->
                <div v-if="index < 3">
                  <router-link class="routerLink text-black" to="/artikel-data">
                    <div class="card mb-4" style="border: 0">
                      <div class="row">
                        <div class="col-md-4">
                          <img
                            src="/assets/img/Placeholder Square.png"
                            class="img-fluid rounded-start"
                            alt="..."
                          />
                        </div>
                        <div class="col-md-8">
                          <div class="d-flex">
                            <div class="card-body p-0">
                              <p class="card-text text-muted mb-2 fs-18px">
                                <b>
                                  {{ formatDate(item.createdAt) }}
                                </b>
                              </p>
                              <h3 class="card-text mb-2 fs-20px">
                                <b>
                                  {{ item.title }}
                                </b>
                              </h3>
                              <label class="tags-item text-light">{{
                                item.topic_id
                              }}</label>
                              <!-- <p class="card-text font-weight-bold">Hotel xxx lt 4 . Jakarta</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Card Popular Feed -->
          <div class="mt-3">
            <h3 class="font-weight-bold" style="color: #ef4c29">
              Popular Feed
            </h3>
            <div class="progress mb-5" style="height: 5px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 14%; background-color: #ef4c29"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="container-fluid" v-if="resultQuery.length">
              <div class="row" v-for="(item, index) in resultQuery" :key="item">
                <!-- Card -->
                <div v-if="index < 4">
                  <router-link class="routerLink text-black" to="/artikel-data">
                    <div class="card mb-3" style="border: 0">
                      <div class="row">
                        <div class="col-md-5">
                          <img
                            src="/assets/img/Placeholder Square.png"
                            class="img-fluid rounded-start"
                            alt="..."
                            height="80%"
                            width="100%"
                          />
                        </div>
                        <div class="col-md-7">
                          <div class="d-flex">
                            <div class="card-body p-0">
                              <p class="card-text text-muted fs-14px mb-2">
                                <b>
                                  {{ formatDate(item.createdAt) }}
                                </b>
                              </p>
                              <h5 class="card-text mb-1 fs-16px m-0">
                                <b>
                                  {{ item.title }}
                                </b>
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Section 3 -->
      <div class="row mt-3">
        <div class="col-lg-7">
          <!-- Card Recomendation -->
          <div class="mt-3">
            <h3 class="font-weight-bold" style="color: #ef4c29">
              Recomendation
            </h3>
            <div class="progress mb-5" style="height: 5px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 14%; background-color: #ef4c29"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="container-fluid  mb-1" v-if="resultQuery.length">
              <div class="row">
                <!-- Card -->
                <div
                  class="col-md-4 col-sm-4 my-3"
                  v-for="(item, index) in resultQuery"
                  :key="item"
                >
                  <div v-if="index < 6">
                    <router-link
                      class="routerLink text-black"
                      to="/artikel-data"
                    >
                      <div class="row">
                        <div class="col-12">
                          <img src="/assets/img/Rectangle 983.png" alt="" width="100%" />
                          <p class="card-text text-muted fw-400 fs-14px mt-3">
                            <!-- 26 Sept 2022{{ item.createdAt}} -->
                            {{ formatDate(item.createdAt) }}
                          </p>
                          <h4 class="card-text mb-2 fs-16px">
                            <b>
                              <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
                              {{ item.title }}
                            </b>
                          </h4>
                          <label class="tags-item text-light">{{
                            item.topic_id
                          }}</label>
                        </div>
                      </div>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card Recomendation -->
          <div class="mt-3">
            <h3 class="font-weight-bold" style="color: #ef4c29">
              Recomendation
            </h3>
            <div class="progress mb-5" style="height: 5px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 14%; background-color: #ef4c29"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="container-fluid" v-if="resultQuery.length">
              <div class="row">
                <!-- Card -->
                <div
                  class="col-md-4 col-sm-4 my-3"
                  v-for="(item, index) in resultQuery"
                  :key="item"
                >
                  <div v-if="index < 3">
                    <router-link class="routerLink text-black" to="#">
                    <div class="row mt-0">
                      <div class="col-12">
                        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/fn7GUNtINdo" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p class="card-text text-muted fw-500 fs-16px mt-3">
                          26 Sept 2022
                        </p>
                        <h4 class="card-text mb-1"><b>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </b></h4>
                      </div>
                    </div>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Card Popular Tags -->
          <div class="mt-3">
            <h3 class="font-weight-bold" style="color: #ef4c29">
              Popular Tags
            </h3>
            <div class="progress mb-5" style="height: 5px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 14%; background-color: #ef4c29"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="container-fluid" v-if="resultQuery.length">
              <div class="row" v-for="(item, index) in resultQuery" :key="item">
                <!-- Card -->
                <div v-if="index < 5">
                  <router-link class="routerLink text-black" to="/artikel-data">
                    <div class="card mb-3" style="border: 0">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="d-flex">
                            <div class="card-body p-0">
                              <h5 class="card-text mb-1 fs-16px m-0">
                                <b> #{{ item.title }} </b>
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
          <!-- Card Pro Kontra -->
          <div class="mt-3">
            <h3 class="font-weight-bold" style="color: #ef4c29">
              Popular Feed
            </h3>
            <div class="progress mb-5" style="height: 5px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 14%; background-color: #ef4c29"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="container-fluid" v-if="resultQuery.length">
              <div class="row" v-for="(item, index) in resultQuery" :key="item">
                <!-- Card -->
                <div v-if="index < 4">
                  <router-link class="routerLink text-black" to="/artikel-data">
                    <div class="card mb-3" style="border: 0">
                      <div class="row">
                        <div class="col-md-5">
                          <img
                            src="/assets/img/Placeholder Square.png"
                            class="img-fluid rounded-start"
                            alt="..."
                            height="80%"
                            width="100%"
                          />
                        </div>
                        <div class="col-md-7">
                          <div class="d-flex">
                            <div class="card-body p-0">
                              <p class="card-text text-muted fs-14px mb-2">
                                <b>
                                  {{ formatDate(item.createdAt) }}
                                </b>
                              </p>
                              <h5 class="card-text mb-1 fs-16px m-0">
                                <b>
                                  {{ item.title }}
                                </b>
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import CardBannerNews from "../../../components/VikNews/cardBannerNews.vue";
import dayjs from "dayjs";

Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

export default {
  name: "News",
  components: { CardBannerNews },
  data() {
    return {
      listNews: [],
      search: null,
      loading: true,
      notFound: false,
      date: "0000-00-00T00:500:00-0000",
    };
  },
  mounted() {
    Vue.axios
      .get("https://6316d46c82797be77febb4fc.mockapi.io/news_vik")
      .then((response) => (this.listNews = response.data))
      .catch((error) => {
        this.loading = false;
        this.notFound = true;
      })
      .finally(() => {
        this.loading = false;
      });
  },
  computed: {
    resultQuery() {
      if (this.search) {
        return this.listNews.filter((item) => {
          return this.search
            .toLowerCase()
            .split(" ")
            .every((v) => item.title.toLowerCase().includes(v));
        });
      } else {
        return this.listNews;
      }
    },
  },
  methods: {
    setSelectedCategory(category) {
      this.category = category;
    },
    formatDate(dateString) {
      const date = dayjs(dateString);
      // Then specify how you want your dates to be formatted
      return date.format("D MMMM YYYY");
    },
  },
};
</script>

<style scoped>
h1 {
  color: white;
}

.routerLink {
  text-decoration: none;
}
.tags-item {
  padding: 3px 32px;
  background: #ef4c29;
  border-radius: 5px;
}
.progress {
  background-color: #f97759;
  color: #ef4c29;
}
a {
  text-decoration: none;
  color: black;
}
</style>