<template>
  <div>
    <survey :survey="survey" />
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

import { StylesManager,Model } from "survey-vue";

import "survey-core/survey.i18n.js";
import "survey-creator-core/survey-creator-core.i18n.js";

import "survey-core/defaultV2.css";
import "survey-creator-core/survey-creator-core.css";
StylesManager.applyTheme("defaultV2");
export default {
  name: "SurveyRunner",
  props: ['survey_id', 'post_id'],
  data() {
    const json = {
      surveyId: this.survey_id,
      surveyPostId: this.post_id
    };

    const survey = new Model(json);

    survey.mode = 'display';

    return {
      survey: survey,
    };
  },
};
</script>

<style scoped>
</style>