<template>
  <div>
    <!-- Header -->
    <Header />
    <div class="row">
      <!-- Sidebar -->
      <Sidebar />
      <!-- End Sidebar -->

      <!-- Content -->
      <div class="col-md-10">
        <router-view></router-view>
      </div>
      <!-- end content -->
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap";
import Header from "./components/Header";
import Sidebar from "./components/Sidebar";

export default {
  components: { Header, Sidebar },
};
</script>
<style lang=""></style>
<template>
  <div>
    <!-- Header -->
    <Header />
    <div class="row">
      <!-- Sidebar -->
      <Sidebar />
      <!-- End Sidebar -->

      <!-- Content -->
      <div class="col-md-9">
        <router-view></router-view>
      </div>
      <!-- end content -->
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap";
import Header from "./components/Header";
import Sidebar from "./components/Sidebar";

export default {
  components: { Header, Sidebar },
};
</script>
<style lang="css">
body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
</style>
