<template>
  <div>
    <HeaderSurvey />
    <router-view></router-view>
  </div>
</template>

<script>
import HeaderSurvey from "./components/survey/HeaderSurvey";
export default {
  name: "SurveyMain",
  components: {HeaderSurvey},
}
</script>

<style scoped>

</style>