<template>
  <div>
    <!-- Header -->
    <Header />
    <div class="row">
      <!-- Sidebar -->
      <SidebarUserManagement />
      <!-- End Sidebar -->

      <!-- Content -->
      <div class="col-md-9">
        <router-view></router-view>
      </div>
      <!-- end content -->
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap";
import Header from "./components/Header";
import SidebarUserManagement from "./components/SidebarUserManagement";

export default {
  name: "UserManagementMain",
  components: {SidebarUserManagement, Header}
}
</script>

<style scoped>
body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
</style>