<template lang="">
    <div>
        <HeaderVik />
        <router-view></router-view>
    </div>
</template>
<script>

import HeaderVik from "./components/HeaderVik.vue";

export default {
components: { HeaderVik },
}
</script>
<style lang="">
    
</style>