<template>
  <div>
    <!-- Header -->
    <Header />
    <router-view></router-view>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap";
import Header from "./components/HeaderVik";

export default {
  name: "VIKAdmin",
  components: { Header}
}
</script>

<style scoped>
body {
  font-family: Poppins, sans-serif;
}
</style>