body {
  /* SurveyJS Creator V2 */
  --primary: #ff7833;
  --secondary: #ef4c29;
}

/* untuk collect responden */

.card-collect {
  min-height: 250px;
  padding: 20px 20px 10px;
  cursor: pointer;
}

input[type="range"] {
  height: 10px;
  width: 100%;
  border-radius: 24px;
  -webkit-appearance: none;
  background-color: #ffb919;
  margin-top: 15px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #ffb919;
}

input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  margin-left: 10px;
  -webkit-appearance: none;
  height: 8px;
  border-radius: 15px;
  cursor: ew-resize;
  background: #425466;
  box-shadow: -10px 0 0 10px #425466;
}
/* FF/
input[type="range"]::-moz-range-progress {
    background-color: #ffb919; 
  }
  input[type="range"]::-moz-range-track {  
    background-color: #dbdbdd;
  }
  /* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #ffb919;
}
input[type="range"]::-ms-fill-upper {
  background-color: #dbdbdb;
}

#region {
  display: none;
}
#gender {
  display: none;
}
#age {
  display: none;
}
#income {
  display: none;
}
/* end untuk collect responden */
