<template>
  <div>
    <router-link class="routerLink text-black" to="">
      <div class="card mt-5">
        <img src="/assets/img/vik_artikel_data.png" />
        <div class="card-body card-background py-4 px-4">
          <h6 style="color: #4e575c">11 September 2022 - 10:30 WIB</h6>
          <h5 class="card-text" style="line-height: 30px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h5>
          <label class="tags-item text-light">Teknologi</label>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.card-background {
  background-color: #f4f4f4;
}
.routerLink {
  text-decoration: none;
}
.card {
  border: none;
  border-radius: 0;
}
.tags-item {
  padding: 3px 32px;
  background: #ff8141;
  border-radius: 10px;
}
</style>
