<template>
  <div class="chart-container mt-4">
    <h3>Nilai Impor Garam Indonesia (2017-2021)</h3>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js/auto";
import ChartDataLabels from "chartjs-plugin-datalabels";

export default {
  mounted() {
    console.log("Component mounted");

    // chart bar
    const ctx = document.getElementById("myChart");
    const myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["2017", "2018", "2019", "2020", "2021"],
        datasets: [
          {
            label: ["Nilai Impor Garam Indonesia"],
            data: [88000000, 95000000, 100000000, 93000000, 103000000],
            backgroundColor: ["#FF7833"],
            borderColor: [],
            borderWidth: 0,
          },
        ],
      },
      plugins: [ChartDataLabels],
      options: {
        indexAxis: "x",
        plugins: {
          legend: {
            display: true,
            position: "bottom",
          },
          datalabels: {
            display: false,
          },
        },
      },
    });
    myChart;
  },
};
</script>

<style scoped></style>
