<template>
  <div>
    <survey :survey="survey" />
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

import { StylesManager,Model } from "survey-vue";

import "survey-core/survey.i18n.js";
import "survey-creator-core/survey-creator-core.i18n.js";

import "survey-core/defaultV2.css";
import "survey-creator-core/survey-creator-core.css";
StylesManager.applyTheme("defaultV2");
export default {
  name: "SurveyPemilu",
  data() {
    const json = { 
      surveyId: '74f9051f-d788-4498-8b0c-b6f507e0bc58' ,
      surveyPostId: '55fb7a0d-1ef4-40e9-91f6-7efe9410b330'
    };
    const survey = new Model(json);
    return {
      survey: survey,
    };
  }
};
</script>

<style scoped>
</style>