<template>
  <div>
    <survey :survey="survey" />
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

import { StylesManager,Model } from "survey-vue";

import "survey-core/survey.i18n.js";
import "survey-creator-core/survey-creator-core.i18n.js";

import "survey-core/defaultV2.css";
import "survey-creator-core/survey-creator-core.css";
StylesManager.applyTheme("defaultV2");
export default {
  name: "SurveyRunner",
  props: ['survey_id', 'post_id', 'respondent_id'],
  data() {
    const json = {
      surveyId: this.survey_id,
      surveyPostId: this.post_id
    };

    const survey = new Model(json);

    const id = this.survey_id;
    const respondent_id = this.respondent_id;
    if (respondent_id !== 'guest') {
      survey.onComplete.add(function () {
        Vue.axios
            .post("/api/surveyjs-completed/", {
              surveyjs_id: id,
              respondent_id: respondent_id
            })
            .then(() => {
              setTimeout(function() {
                window.location = '/'
              }, 1500);
            })
            .catch((error) => {
              if (!error.response) {
                alert("kesalahan sistem.");
              }
              alert(error.response.data.message);
            });
      });
    }

    return {
      survey: survey,
    };
  },
};
</script>

<style scoped>
</style>