<template>
  <div class="container">
    <div>
        <form class="" action="">
            <div class="d-flex justify-content-center">
                <span class="file" style="width: 100%; height: 649px; background-image: url('/assets/img/uploadImages.png'); display:block background-repeat: no-repeat; background-size: 100%;">
                    <input id="file" class="mt-5 mb-3" type="file" src="/assets/img/uploadImages.png" alt="Upload Image" width="100%" accept="image/png, image/gif, image/jpeg">
                </span>
            </div>
            <input type="email" class="form-control mb-3" id="judulEvent" aria-describedby="emailHelp" placeholder="Judul Event">
            <div class="border-left mb-3 p-5 bg-light">
                <label for="dessEvent">Deskripsi Event</label>
                <textarea class="form-control" id="dessEvent" rows="10"></textarea>
            </div>
            <label class="" for="penyelenggara">Penyelenggara</label>
            <input type="text" class="mb-3 form-control" id="penyelenggara" placeholder="Masukkan Nama Penyelenggara Event">
            <div class="mb-3 row">
                <label for="penyelenggara">Tags</label>
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Masukkan Tags">
                </div>
                <div class="col-1">
                    <button class="btn-view font-weight-light mr-4 d-flex">
                        <i class="fa-solid fa-plus mr-2 mt-1"></i>
                        Add</button>
                </div>
            </div>
            <div class=" mb-3 d-flex">
                <button class="tags d-flex px-4 py-2 mr-3">
                    Teknologi <i class="ml-2 mt-1 fa-solid fa-x"></i>
                </button>
                <button class="tags d-flex px-4 py-2 mr-3">
                    Bisnis <i class="ml-2 mt-1 fa-solid fa-x"></i>
                </button>
            </div>
            <label for="kuota peserta">Kuota Peserta</label>
            <div class="d-flex">
                <input type="number" class="kuota form-control mr-3" id="kuota peserta" placeholder="100">
                <p class="mt-2">Orang</p>
            </div>
            <div>
                <label class="d-flex" for="date"><i class="fa-regular fa-calendar mt-1 mr-2"></i> Date Time</label>
                <div class="row mb-3">
                    <div class="col-5">
                        <p class="" for="eventDate">Event Start</p>
                        <input type="date" class="form-control" id="eventDate">
                    </div>
                    <div class="col-1">
                        <div class="line"></div>
                    </div>
                    <div class="col-6">
                        <p class="" for="eventDate">Event End</p>
                        <input type="date" class="form-control" id="eventDate">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-5">
                        <p class="" for="time">Start Time</p>
                        <input type="time" class="form-control" id="time">
                    </div>
                    <div class="col-1">
                        <div class="line"></div>
                    </div>
                    <div class="col-6">
                        <p class="" for="time">End Time</p>
                        <input type="time" class="form-control" id="time">
                    </div>
                </div>
            </div>
            <label class="d-flex" for="location"><i class="fa-solid fa-location-dot mt-1 mr-3"></i>Location</label>
            <textarea class="form-control" id="dessEvent" rows="10"></textarea>
            <div class="d-flex justify-content-end mt-5">
              <button class="btn-view font-weight-light mr-4">Simpan ke Draft</button>
              <button class="btn-view2 font-weight-light">Upload Event</button>
            </div>
        </form>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

.file {
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}
.file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

label{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: 500;
    color: #263238;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.line{
    background-color: #4E575C;
    padding: 2px 5px;
    margin-top: 55px;
}
.kuota{
    max-width: 100px;
    text-align: center;
}

.tags{
    background: #CDCDCD;
    border-radius: 30px;
    border: #CDCDCD;
}
.btn-view {
    background-color: #fff;
    color: #EF4C29;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    border-color: #FF7C60;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.35rem;
}
.btn-view2 {
    background-color: #EF4C29;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    border-color: #EF4C29;
    padding: 5px 15px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-view:hover {
    background-color:#EF4C29;
    color: #fff;
}
.btn-view2:hover {
    background-color:#fff;
    color: #EF4C29;
}

.border-left{
    border-color:  #EF4C29;
    border-width: 8px;

}
    
</style>