<template>
  <div>
    <div class="container pt-5">
      <h1 class="fw-semibold">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </h1>
      <div class="d-flex mt-4">
        <img
          class="rounded-circle mr-3"
          src="/assets/img/photo-neil-seims.jpg"
          style="width: 60px; height: 60px"
        />
        <div class="row mt-1">
          <h5>John Doe</h5>
          <p>11 September 2022 - 10:30 WIB</p>
        </div>
      </div>
    </div>
    <!-- Chart Data -->
    <div class="container">
      <ChartData />
    </div>
    <!-- Social Media -->
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-8 col-12 mt-5">
          <a class="mr-3" href="#">
            <img class="icon-socmed" src="/assets/img/ic_vik_link.svg" />
          </a>
          <a class="mr-3" href="#">
            <img class="icon-socmed" src="/assets/img/ic_vik_whatsapp.svg" />
          </a>
          <a class="mr-3" href="#">
            <img class="icon-socmed" src="/assets/img/ic_vik_facebook.svg" />
          </a>
          <a class="mr-3" href="#">
            <img class="icon-socmed" src="/assets/img/ic_vik_linkedin.svg" />
          </a>
          <a class="mr-3" href="#">
            <img class="icon-socmed" src="/assets/img/ic_vik_instagram.svg" />
          </a>
          <a class="mr-3" href="#">
            <img class="icon-socmed" src="/assets/img/ic_vik_twitter.svg" />
          </a>
        </div>
        <div class="col-md-4 text-right mt-4">
          <div class="dropdown">
            <button
              class="btn-download fw-light mt-3"
              data-toggle="dropdown"
              aria-expanded="false"
              style="font-size: 16px"
            >
              <i class="fa fa-download icon-color mr-1"></i>
              Unduh Data
            </button>
            <div class="dropdown-menu dropdown-menu-dark text-center my-2">
              <a class="dropdown-item text-light" href="#">
                <i class="fa fa-file-image mr-1"></i>
                Unduh PNG
              </a>
              <div class="dropdown-divider bg-light"></div>
              <a class="dropdown-item text-light" href="#">
                <i class="fa fa-file-pdf mr-1"></i>
                Unduh PDF
              </a>
              <div class="dropdown-divider bg-light"></div>
              <a class="dropdown-item text-light" href="#">
                <i class="fa fa-file-excel mr-1"></i>
                Unduh XLS
              </a>
              <div class="dropdown-divider bg-light"></div>
              <a class="dropdown-item text-light" href="#">
                <i class="fa fa-file-code mr-1"></i>
                Unduh Embed
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Artikel -->
    <div class="container mt-5">
      <hr />
      <div class="text-justify mt-4">
        <p style="font-size: 18px">
          Mi non eget pharetra lorem dictum facilisi amet scelerisque. Enim in
          in elit elementum id molestie adipiscing morbi sed. Nunc ut eu at
          commodo porta amet quam diam. Sit tellus porta vitae et cursus. Amet,
          id consequat cursus id ut ac pharetra. Justo ultrices placerat integer
          vitae diam, ipsum morbi. <br /><br />
          Neque, senectus eu, arcu ornare arcu. Vulputate neque, consectetur
          ipsum integer. Laoreet laoreet quis quam fermentum id tellus pulvinar.
          Non lectus volutpat vestibulum amet. Venenatis vitae egestas orci, in
          neque. Sem et euismod sed mauris est. Fermentum sit ultrices nulla
          ligula ultricies sed hac sed. At proin magna blandit faucibus
          convallis. <br /><br />
          Ullamcorper malesuada ornare tristique velit amet. Eu augue ut vel
          erat eget sagittis sollicitudin. Vitae nulla vitae imperdiet duis est
          aliquam vulputate. Neque consectetur suspendisse egestas amet. Et nisl
          et nulla amet placerat sit. Ut lacus, libero risus, a, scelerisque
          vestibulum id bibendum. Cursus orci nunc donec lectus mattis eu netus
          id. <br /><br />
          Sit lectus faucibus viverra nullam pulvinar. Arcu ut in donec
          facilisis. Dolor et in fermentum scelerisque sed elementum mi maecenas
          nisl. Ultricies hendrerit tellus aenean nunc elementum aliquam tortor
          volutpat massa. Viverra arcu, aliquet porta sed. Arcu odio sit risus
          in nunc quam id. <br /><br />
          Ullamcorper malesuada ornare tristique velit amet. Eu augue ut vel
          erat eget sagittis sollicitudin. Vitae nulla vitae imperdiet duis est
          aliquam vulputate. Neque consectetur suspendisse egestas amet. Et nisl
          et nulla amet placerat sit. Ut lacus, libero risus, a, scelerisque
          vestibulum id bibendum. Cursus orci nunc donec lectus mattis eu netus
          id. <br /><br />
          Sit lectus faucibus viverra nullam pulvinar. Arcu ut in donec
          facilisis. Dolor et in fermentum scelerisque sed elementum mi maecenas
          nisl. Ultricies hendrerit tellus aenean nunc elementum aliquam tortor
          volutpat massa. Viverra arcu, aliquet porta sed. Arcu odio sit risus
          in nunc quam id.
        </p>
      </div>
    </div>
    <!-- Tags -->
    <div class="container mt-5">
      <hr />
      <div class="d-flex mt-4">
        <i class="fa fa-tag icon-color mr-2" style="font-size: 25px"></i>
        <h4 class="fw-semibold">Tags</h4>
      </div>
      <div class="row d-flex mt-4">
        <div class="col-12">
          <label class="tags-item">Teknologi</label>
          <label class="tags-item">Bisnis</label>
          <label class="tags-item">Lorem Ipsum</label>
          <label class="tags-item">Lorem Ipsum</label>
          <label class="tags-item">Lorem Ipsum</label>
        </div>
      </div>
    </div>
    <!-- Card Artikel Data -->
    <div class="container mt-5">
      <hr />
      <div class="row">
        <div class="col-lg-4">
          <CardArtikel />
        </div>
        <div class="col-lg-4">
          <CardArtikel />
        </div>
        <div class="col-lg-4">
          <CardArtikel />
        </div>
        <div class="col-lg-4">
          <CardArtikel />
        </div>
        <div class="col-lg-4">
          <CardArtikel />
        </div>
        <div class="col-lg-4">
          <CardArtikel />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardArtikel from "../components/VikArtikelData/CardArtikel.vue";
import ChartData from "../components/VikArtikelData/ChartData.vue";
export default {
  components: { CardArtikel, ChartData },
};
</script>

<style scoped>
.icon-socmed {
  width: 40px;
}
.btn-download {
  background-color: #fff;
  color: #ef4c29;
  display: inline-block;
  text-align: center;
  border: 2px solid;
  border-color: #ff7c60;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
}
.btn-download:hover {
  background-color: #ff7c60;
  color: #fff;
}
.tags-item {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 33px;
  background: #cdcdcd;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.icon-color {
  color: #ef4c29;
}
</style>
