<template lang="">
        <div class="container">
            <div class="mt-4">
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" v-model="search">
            <button class="btn-survey my-2 my-sm-0" type="submit">Filter <i class="fa-solid fa-sort"></i></button>
            </form>
        </div>
        <div v-if="resultQuery.length">
        <div class="card w-100 mt-4" style="border: 0;" v-for="(item, index) in resultQuery" :key="index">
            <div class="card-body" v-if="item.status" style="background-color: #FFBA97;" >
                <div class="row">
                    <div class="col-md-6 imgContainer">
                        <h5 class="card-title d-flex justify-content-start">{{item.title}}!</h5>
                    </div>
                    <div class="col-md-6">
                        <p class="d-flex justify-content-end">{{ item.createdAt | moment("from", "now") }}</p>
                    </div>
                </div>
                <p class="card-text">{{item.message}}</p>
                <img :src="item.avatar" alt="" width="28px" height="28px" class="rounded-circle mr-1">
                <span><strong>{{item.name}} (Costumer)</strong></span>
                <button type="button" class="btn btn-danger pull-right" @click="deleteList(item.id)">Delete</button>
            </div>
            <div class="card-body" v-else style="background-color: #F4F4F4;">
                <div class="row">
                    <div class="col-md-6 imgContainer">
                        <h5 class="card-title d-flex justify-content-start">{{item.title}}!</h5>
                    </div>
                    <div class="col-md-6">
                        <p class="d-flex justify-content-end">{{ item.createdAt | moment("from", "now") }}</p>
                    </div>
                </div>
                <p class="card-text">{{item.message}}</p>
                <!-- <img src="/assets/img/photo-jones-ferdinand.png" alt="" width="28px" height="28px" class="rounded-circle mr-1"> -->
                <img :src="item.avatar" alt="" width="28px" height="28px" class="rounded-circle mr-1">
                <span><strong>{{item.name}} (Costumer)</strong></span>
                <button type="button" class="btn btn-danger pull-right" @click="deleteList(item.id)">Delete</button>
            </div>
        </div>
    </div>
        <div v-else>
            <div class="alert alert-warning mt-3 col-md-8" role="alert">
                Data tidak ditemukan!
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<script>
import Vue from "vue" 
import axios from "axios"
import VueAxios from "vue-axios"

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
name: "AllTicket",
data(){
    return {
        list: undefined,
        search: null
    }
},
mounted(){
    Vue.axios
    .get("https://6316d46c82797be77febb4fc.mockapi.io/customer_service")
    .then((resp)=>{
        this.list = resp.data
    })
},
computed:{
    resultQuery(){
        if(this.search){
            return this.list.filter((item)=>{
                return this.search.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
        })
        }else{
            return this.list;
        }
        }
},
methods: {
    deleteList(id) {
        axios
        .delete(`https://6316d46c82797be77febb4fc.mockapi.io/customer_service/${id}`)
        .then(response => {
        console.log(response);
      });
    }
}
}
</script>
<style scoped>
.card .imgContainer
{
    z-index: 1;
}
.card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.card .content 
{
    position: relative;
    margin-top: -40px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition-delay: 0.3s;
    -moz-transform: translate(-48px, 0px);
    -webkit-transform: translate(-48px, 0px);
    -o-transform: translate(-48px, 0px);
    -ms-transform: translate(-48px, 0px);
    transform: translate(-48px, 0px);
}

@media (max-width: 330px){
    .card .imgContainer{
        left: -2px;
    }
}

.btn-survey {
        background-color: #EF4C29;
        color: #fff;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.35rem;
}

.btn-survey:hover {
    background-color: #FF7C60;
        color: #fff;
}

</style>