<template lang="">
    <div>

        <div class="card mt-1 card-name">
            <div class="card-body" >
                <h5>Saldo tidak bisa ditarik</h5>
                <div class="d-flex flex-row">
                    <div class="p-2"><img src="/assets/img/photo-jones-ferdinand.png" width="45px" height="45px" class="rounded-circle"></div>
                        <div class="p-2">
                            <h6 class="m-min-b">Stella Doe</h6>
                            <small>Stella@example@gmail.com</small>
                        </div>
                </div>
            </div>
        </div>

        <div class="chat-box bg-light">
            <div class="d-flex p-2 justify-content-center mt-2">
                <span class="badge badge-grey mt-2">Hari ini, 13 Agustus</span>
            </div>
            <div class="d-flex p-2 justify-content-start">
                    <div class="p-2"><img src="/assets/img/photo-jones-ferdinand.png" width="45px" height="45px" class="rounded-circle"></div>
                    <div class="p-2">
                        <div class="alert bg-orange text-light w-75 m-min-b" role="alert">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut ipsum beatae saepe, ducimus cupiditate iusto vel minima. Ipsam, odio?
                        </div>
                        <small>Stella(Customer) . 10:30 am</small>
                    </div>      
            </div>
            <div class="d-flex p-2 justify-content-end">    
                        <div class="alert bg-white w-75 m-min-b" role="alert">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut ipsum beatae saepe, ducimus cupiditate iusto vel minima. Ipsam, odio?
                        </div>              
                    <div class="p-2"><img src="/assets/img/photo-jones-ferdinand.png" width="45px" height="45px" class="rounded-circle"></div>
            </div> 
            <div class="d-flex justify-content-end" style="margin-right: 70px">    
                <small>A(Admin) . 10:31 am</small>
            </div> 
            <div class="d-flex p-2 justify-content-start">
                    <div class="p-2"><img src="/assets/img/photo-jones-ferdinand.png" width="45px" height="45px" class="rounded-circle"></div>
                    <div class="p-2">
                        <div class="alert bg-orange text-light w-75 m-min-b" role="alert">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut ipsum beatae saepe, ducimus cupiditate iusto vel minima. Ipsam, odio?
                        </div>
                        <small>Stella(Customer) . 10:30 am</small>
                    </div>      
            </div>
            <div class="mb-5">   
                <div class="d-flex p-2 justify-content-end">    
                            <div class="alert bg-white w-75 m-min-b" role="alert">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut ipsum beatae saepe, ducimus cupiditate iusto vel minima. Ipsam, odio?
                            </div>              
                        <div class="p-2"><img src="/assets/img/photo-jones-ferdinand.png" width="45px" height="45px" class="rounded-circle"></div>
                </div>
                <div class="d-flex justify-content-end" style="margin-right: 70px">    
                    <small>A(Admin) . 10:31 am</small>
                </div>  
            </div>
        </div>

        <div class="d-flex justify-content-center flex-row bd-highlight" style="background-color: #E8E8E8;">
            <div class="bd-highlight ">
                <button class="btn btn-lg my-2 my-sm-0" type="submit"><i class="fa-solid fa-paperclip"></i>
                </button>
                <button class="btn btn-lg my-2 my-sm-0 mr-sm-2" type="submit"><i class="fa-regular fa-face-smile"></i>
                </button>
            </div>
            <div class="bd-highlight mt-1">
                <input type="text" class="form-control my-2 my-sm-0" placeholder="Ketik pesan..">
            </div>
            <div class="bd-highlight">
                <button class="btn btn-lg my-2 my-sm-0" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
        
    </div>
</template>
<script>
export default {

}
</script>
<style lang="scss" scoped>
.card-name {
    border-radius: 0px;
    border: 0;
    box-shadow: 0 4px 2px -2px #E9E9E9;
}

.chat-box {
    height: 550px;
    width: 100%;
    overflow: auto;
}

.m-min-b {
    margin-bottom: -2px;
}

.badge-grey {
    background-color: #D9D9D9;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-orange {
    background-color: #FF7C60;
}
</style>