<template>
  <div class="container">
    <!-- Chart -->
    <div class="pl-5 pr-5">
      <ChartData />
    </div>

    <br />
    <!-- Form Title -->
    <br><div class="make-article pl-5 pr-5">
      <input
        type="text"
        class="form-control mb-2"
        id="make-title"
        placeholder="Judul artikel..."
      />
    </div>

    <!-- Text Editor -->
    <quill-editor
      class="pl-5 pr-5"
      v-model="content"
      ref="myQuillEditor"
      :options="editorOption"
    />
    <br />

    <!-- Form Tags -->
    <div class="article-tags pl-5 pr-5 mt-2">
      <label for="tags">Tags</label>
      <div class="row">
        <div class="col-lg-10">
          <input
            type="textarea"
            class="form-control"
            id="tags"
            placeholder="Masukan tags"
          />
        </div>
        <div class="col-lg-2">
          <button type="button" class="btn btn-add float-right btn-block">+ Add</button>
        </div>
      </div>

      <br/>

      <!-- Badges -->
      <div class="badges-article">
        <span class="badge rounded-pill bg-secondary">Teknologi
          <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
        </span>
        <span class="badge rounded-pill bg-secondary">Bisnis
          <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
        </span>
      </div>

      <br/>

      <div class="float-right">
        <button type="button" class="btn-pomegranate float-right">
          Publish Article
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import 'quill/dist/quill.snow.css'
import { quillEditor } from 'vue-quill-editor'
import ChartData from "../components/VikArtikelData/ChartData.vue";

export default {
  components: {
    quillEditor,
    ChartData
  },
  data: () => ({
    content: '',
    editorOption: {
      debug: 'info',
      placeholder: 'Tulis Isi Artikel..',
      readOnly: true,
      theme: 'snow'
    },
    delta: undefined
  }),
  watch : {
    content (value) {
      this.delta= this.$refs.myQuillEditor.quill.getContents()
    }
  }
};

</script>

<style scoped>
.btn-add {
  border-color: #ef4c29;
  color: #ef4c29;
  border-radius: 0;
}
.btn-add:hover {
    background-color: #fff;
    color: #FF7C60;
}
.btn-pomegranate {
    background-color: #EF4C29;
    color: #fff;
}

.btn-pomegranate:hover {
    background-color: #FF7C60;
    color: #fff;
}

</style>

<style>
.ql-editor{
  height: 70vh
}
</style>
