<template>
    <div class="mt-5 container row">
        <div class="col-8">
            <Carousel />
        </div>
        <div class="col-4">
            <card />
        </div>

        <!-- Rekomendasi -->
        <div class="d-flex justify-content-between align-items-center">
            <h5>Rekomendasi Untukmu</h5>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Semua
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card -->
        <div class="row mt-3">
            <div class="col-3">
                <div class="card">
                <img src="/assets/img/recommendation_5.png" class="" alt="...">
                <div class="card-body">
                    <p class="card-text">Survey pengguna mobil listrik tesla pada quarter 2 tahun 2021</p>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-danger">Mulai</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                <img src="/assets/img/recommendation_5.png" class="" alt="...">
                <div class="card-body">
                    <p class="card-text">Survey pengguna mobil listrik tesla pada quarter 2 tahun 2021</p>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-danger">Mulai</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                <img src="/assets/img/recommendation_5.png" class="" alt="...">
                <div class="card-body">
                    <p class="card-text">Survey pengguna mobil listrik tesla pada quarter 2 tahun 2021</p>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-danger">Mulai</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                <img src="/assets/img/recommendation_5.png" class="" alt="...">
                <div class="card-body">
                    <p class="card-text">Survey pengguna mobil listrik tesla pada quarter 2 tahun 2021</p>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-danger">Mulai</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Carousel  from "../components/VikDashboard/carousel.vue";
    import Card from "../components/VikDashboard/cardvik.vue";
export default {
    name: "Dashboard",
    components: { Carousel, Card }
}
</script>

<style lang="scss" scoped>
    .card{
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(17, 17, 17, 0.08);
    }
    .btn-danger{
        background-color:#FE5E38;
        font-size: 14px;
        border-color: #FE5E38;
    }
    .accordion{
        width:  352px;
    }
</style>