<template>
  <div class="container pt-4">

    <h2>User</h2>

    <div class="mt-4">
      <form class="form-inline my-2 my-lg-0">
        <input
            class="form-control mr-sm-2"
            type="text" placeholder="Search"
            aria-label="Search"
            v-model="search">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Filter</button>
      </form>
    </div>

    <div class="table-wrap mt-3">
      <table class="table table-responsive table-borderless">
        <thead>
          <th class="text-center">Nama</th>
          <th>&nbsp;</th>
          <th class="text-center">User</th>
          <th class="text-center">Tanggal Pembuatan</th>
          <th class="text-center">Action</th>
          <th>&nbsp;</th>
        </thead>
        <tbody v-for="(item, index) in resultQuery" :key="index">
          <tr class="align-middle alert border-bottom" role="alert">
            <td class="text-center align-middle">
              <img class="pic rounded-circle"
                   :src="item.avatar"
                   width="46px"
                   height="46px"
                   alt="avatar">
            </td>
            <td class="align-middle p-0">
              <p class="m-0 fw-bold fs-16px">{{ item.name }}</p>
              <p class="m-0 fs-14px text-muted">{{ item.email }}</p>
            </td>
            <td class="text-center align-middle">
              <div class="fs-16px fw-400">Respondent</div>
            </td>
            <td class="text-center align-middle">
              <div class="fs-16px fw-400">{{ item.tanggal_pembuatan }}</div>
            </td>
            <td class="text-center align-middle">
              <button type="button" class="btn" data-toggle="modal" data-target="#userDetailModal" @click="getSelectedUser(item)">
                <img src="/assets/img/btn_edit.svg"/>
              </button>
              <button type="button" class="btn" @click="deleteDataUser(item.id)">
                <img src="/assets/img/btn_delete.svg"/>
              </button>
            </td>
            <td class="text-center align-middle">
              <button type="button" class="btn btn-secondary btn-sm btn-reset-scoped" @click="resetPassword(item.id)">Reset Password</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <!-- TODO: pass user data detail to modal -->
    <!-- Modal Edit User -->
    <div class="modal fade"
         id="userDetailModal"
         tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form @submit.prevent="update">
              <div class="mb-3 text-start">
                <img src="/assets/img/ktp_dummy.jpg" alt=""
                     width="300px">
              </div>
              <div class="mb-3">
                <label for="NIK" class="form-label">NIK (Nomor Induk Kependudukan) *</label>
                <input type="text" class="form-control" id="NIK" placeholder="NIK"
                       :value="selectedDataUser.nik" required>
              </div>
              <div class="mb-3">
                <label for="nama-depan" class="form-label">Nama Depan</label>
                <input type="text" class="form-control" id="nama-depan" placeholder="nama-depan"
                       name="name" :value="firstNameBySelectedUser">
              </div>
              <div class="mb-3">
                <label for="nama-belakang" class="form-label">Nama Belakang</label>
                <input type="text" class="form-control" id="nama-belakang" placeholder="nama-belakang"
                       name="name" :value="lastNameBySelectedUser">
              </div>
              <div class="mb-3">
                <label for="jenis-kelamin" class="form-label">Jenis Kelamin</label>
                <input type="text" class="form-control" id="jenis-kelamin"
                       placeholder="Jenis Kelamin" :value="selectedDataUser.gender">
              </div>
              <div class="mb-3">
                <label for="tempat-lahir" class="form-label">Tempat Lahir</label>
                <input type="text" class="form-control" id="tempat-lahir"
                       placeholder="tempat lahir" :value="selectedDataUser.tempat_lahir">
              </div>
              <div class="mb-3">
                <label for="tanggal-lahir" class="form-label">Tanggal Lahir</label>
                <input type="text" class="form-control" id="tanggal-lahir"
                       placeholder="Tanggal-lahir" :value="selectedDataUser.tanggal_lahir">
              </div>
              <div class="mb-3">
                <label for="tipe-lokasi" class="form-label">Tipe Lokasi</label>
                <input type="text" class="form-control" id="tipe-lokasi"
                       placeholder="Tipe-lokasi" :value="selectedDataUser.tipe_lokasi">
              </div>
              <div class="row mb-3">
                <div class="col-lg-6">
                  <label for="provinsi" class="form-label">Provinsi</label>
                  <input type="text" class="form-control" id="provinsi"
                         placeholder="Provinsi" :value="selectedDataUser.provinsi">
                </div>
                <div class="col-lg-6">
                  <label for="kota" class="form-label">Kota</label>
                  <input type="text" class="form-control" id="kota" placeholder="Kota"
                         :value="selectedDataUser.kota">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-6">
                  <label for="kecamatan" class="form-label">Kecamatan</label>
                  <input type="text" class="form-control" id="kecamatan"
                         placeholder="Kecamatan" :value="selectedDataUser.kecamatan">
                </div>
                <div class="col-lg-6">
                  <label for="kelurahan" class="form-label">Kelurahan</label>
                  <input type="text" class="form-control" id="kelurahan" placeholder="Kelurahan"
                         :value="selectedDataUser.kelurahan">
                </div>
              </div>
              <div class="mb-3">
                <label for="kode-pos" class="form-label">Kode Pos</label>
                <input type="text" class="form-control" id="kode-pos"
                       placeholder="Kode-pos" :value="selectedDataUser.kode_pos">
              </div>
              <div class="mb-3">
                <label for="alamat" class="form-label">Alamat</label>
                <textarea class="form-control" id="alamat" rows="3">{{ selectedDataUser.alamat }}</textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
            <div class="w-100">
              <button type="button" class="btn btn-success">Simpan</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
  name: "DataUser",
  data() {
    return {
      dataUsers: [],
      selectedDataUser: [],
      firstNameBySelectedUser: '',
      lastNameBySelectedUser: '',
      search: null,
    }
  },
  mounted(){
    Vue.axios
        .get("https://6316cf6c82797be77feb2f0c.mockapi.io/data_users")
        .then( response => ( this.dataUsers = response.data ))
        .catch(error => {
          alert(error.message)
        });
  },
  computed:{
    resultQuery() {
      if (this.search) {
        return this.dataUsers.filter( (item) => {
          return this.search.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
        })
      } else {
        return this.dataUsers;
      }
    }
  },
  methods: {
    getSelectedUser(row) {
      this.selectedDataUser = row;
      this.firstNameBySelectedUser = this.selectedDataUser.name.split(' ').slice(0, -1).join(' ');
      this.lastNameBySelectedUser = this.selectedDataUser.name.split(' ').slice(-1).join(' ');
    },
    deleteDataUser(id) {
      axios
          .delete(`https://6316cf6c82797be77feb2f0c.mockapi.io/data_users/${id}`)
          .then(response => {
            console.log(response);
          });
    },
    resetPassword(id) {
      /* TODO: reset password logic */
    }
  },
}
</script>

<style scoped>
.btn-reset-scoped {
  background: #F4F4F4;
  border-radius: 5px;
  border-color: #F4F4F4;
  color: black;
  font-size: 12px;
}
.table tbody td input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  background: #F5F5F5;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.table tbody td input[type="checkbox"]:checked,
.table tbody td input[type="checkbox"]:checked:hover {
  background-color: #EF4C29;
}
.table tbody td {
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
}
.text-muted {
  font-size: 12.5px;
}
</style>