<template>
    <div class="container pt-4">

    <h2>Data Verifikasi</h2>

    <div class="mt-4">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Cari">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Filter</button>
    </form>
    </div>

    <!-- TODO: implement if-else and retrieve data from mockapi -->
    <div class="table-wrap mt-3">
    <table class="table table-responsive table-borderless">
        <thead>
        <th>&nbsp;</th>
        <th scope="col" class="text-center">Nama</th>
        <th>&nbsp;</th>
        <th scope="col" class="text-center">User</th>
        <th scope="col" class="text-center">Tanggal Pembuatan</th>
        <th scope="col" class="text-center">Status</th>
        <th>&nbsp;</th>
        </thead>
        <tbody v-for="(item,index) in data" :key="index" >
        <tr>
            <th scope="row"><input class="form-check-input" type="checkbox"></th>
            <td class="text-center align-middle">
            <img class="pic rounded-circle"
                src="/assets/img/photo-jones-ferdinand.png"
                width="46px"
                height="46px"
                alt="avatar">
            </td>
            <td class="align-middle p-0">
            <p class="m-0 fw-bold fs-16px"> {{item.name}} </p>
            <p class="m-0 fs-14px text-muted">{{item.email}}</p>
            </td>
            <td class="text-center align-middle">
            <div class="fs-16px fw-400">Respondent</div>
            </td>
            <td class="text-center align-middle">
            <div class="fs-16px fw-400">{{item.date}}</div>
            </td>
            <td class="text-center align-middle">
                <div v-if="item.status == 1" class="badge pending" style="color: #AC9D16;">
                    Pending
                </div>
                <div v-else-if="item.status == 2" class="badge pendingRejected" style="color: #AC1616;" >
                    Rejected
                </div>
                <div v-else="" class="badge pendingComplete" style="color: #4FAC16;" >
                    Complete
                </div>
            </td>
            <td class="text-center align-middle">
            <button type="button" class="btn btn-primary btn" style="border-radius: 10px;" data-toggle="modal" data-target="#userDetailModal">
                View Detail
            </button>
            </td>
        </tr>

        <!-- <tr>
            <th scope="row"><input class="form-check-input" type="checkbox"></th>
            <td class="text-center align-middle">
            <img class="pic rounded-circle"
                src="/assets/img/photo-jones-ferdinand.png"
                width="46px"
                height="46px"
                alt="avatar">
            </td>
            <td class="align-middle p-0">
            <p class="m-0 fw-bold fs-16px">Nell Seims</p>
            <p class="m-0 fs-14px text-muted">nellseims@gmail.com</p>
            </td>
            <td class="text-center align-middle">
            <div class="fs-16px fw-400">Respondent</div>
            </td>
            <td class="text-center align-middle">
            <div class="fs-16px fw-400">March 23, 2020</div>
            </td>
            <td class="text-center align-middle">
                <div class="badge pendingRejected" style="color: #AC1616;" >
                    Rejected
                </div>
            </td>
            <td class="text-center align-middle">
            <button type="button" class="btn btn-primary btn" style="border-radius: 10px;" data-toggle="modal" data-target="#userDetailModal">
                View Detail
            </button>
            </td>
        </tr> -->

        <!-- <tr>
            <th scope="row"><input class="form-check-input" type="checkbox"></th>
            <td class="text-center align-middle">
            <img class="pic rounded-circle"
                src="/assets/img/photo-jones-ferdinand.png"
                width="46px"
                height="46px"
                alt="avatar">
            </td>
            <td class="align-middle p-0">
            <p class="m-0 fw-bold fs-16px">Nell Seims</p>
            <p class="m-0 fs-14px text-muted">nellseims@gmail.com</p>
            </td>
            <td class="text-center align-middle">
            <div class="fs-16px fw-400">Respondent</div>
            </td>
            <td class="text-center align-middle">
            <div class="fs-16px fw-400">March 23, 2020</div>
            </td>
            <td class="text-center align-middle">
                <div class="badge pendingComplete" style="color: #4FAC16;" >
                    Complete
                </div>
            </td>
            <td class="text-center align-middle">
            <button type="button" class="btn btn-primary" style="border-radius: 10px;" data-toggle="modal" data-target="#userDetailModal">
                View Detail
            </button>
            </td>
        </tr> -->
        </tbody>
    </table>
    </div>

    <!-- TODO: fix form input -->
    <!-- Modal -->
    <div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Verifikasi Pengguna</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="mb-3 text-start">
            <img src="/assets/img/ktp_dummy.jpg" alt=""
                width="300px">
            </div>
            <div class="mb-3">
            <label for="NIK" class="form-label">NIK (Nomor Induk Kependudukan)*</label>
            <input type="" class="form-control" id="NIK" placeholder="NIK"
                    value="ini nik" required>
            </div>
            <div class="mb-3">
            <label for="nama-depan" class="form-label">Nama Depan</label>
            <input type="text" class="form-control" id="nama-depan" placeholder="nama-depan"
                    name="name" value="ini nama depan" readonly>
            </div>
            <div class="mb-3">
            <label for="nama-belakang" class="form-label">Nama Belakang</label>
            <input type="text" class="form-control" id="nama-belakang" placeholder="nama-belakang"
                    name="name" value="ini nama" readonly>
            </div>
            <div class="mb-3">
            <label for="jenis-kelamin" class="form-label">Jenis Kelamin</label>
            <input type="text" class="form-control" id="jenis-kelamin"
                    placeholder="Jenis Kelamin" value="ini jenis kelamin"
                    readonly>
            </div>
            <div class="mb-3">
            <label for="tempat-lahir" class="form-label">Tempat Lahir</label>
            <input type="text" class="form-control" id="tempat-lahir"
                    placeholder="tempat lahir" value="ini tempat lahir"
                    readonly>
            </div>
            <div class="mb-3">
            <label for="tanggal-lahir" class="form-label">Tanggal Lahir</label>
            <input type="text" class="form-control" id="tanggal-lahir"
                    placeholder="Tanggal-lahir" value="ini tanggal lahir"
                    readonly>
            </div>
            <div class="mb-3">
            <label for="tipe-lokasi" class="form-label">Tipe Lokasi</label>
            <input type="text" class="form-control" id="tipe-lokasi"
                    placeholder="Tipe-lokasi" value="ini tipe lokasi"
                    readonly>
            </div>
            <div class="row mb-3">
            <div class="col-lg-6">
                <label for="provinsi" class="form-label">Provinsi</label>
                <input type="text" class="form-control" id="provinsi"
                    placeholder="Provinsi" value="ini provinsi"
                    readonly>
            </div>
            <div class="col-lg-6">
                <label for="kota" class="form-label">Kota</label>
                <input type="text" class="form-control" id="kota" placeholder="Kota"
                    value="ini kota" readonly>
            </div>
            </div>
            <div class="row mb-3">
            <div class="col-lg-6">
                <label for="kecamatan" class="form-label">Kecamatan</label>
                <input type="text" class="form-control" id="kecamatan"
                    placeholder="Kecamatan" value="ini kecamatan"
                    readonly>
            </div>
            <div class="col-lg-6">
                <label for="kelurahan" class="form-label">Kelurahan</label>
                <input type="text" class="form-control" id="kelurahan" placeholder="Kelurahan"
                    value="ini kelurahan" readonly>
            </div>
            </div>
            <div class="mb-3">
            <label for="kode-pos" class="form-label">Kode Pos</label>
            <input type="text" class="form-control" id="kode-pos"
                    placeholder="Kode-pos" value="ini kode pos"
                    readonly>
            </div>
            <div class="mb-3">
            <label for="alamat" class="form-label">Alamat</label>
            <textarea class="form-control" id="alamat" rows="3"
                        readonly>Ini alamat</textarea>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div class="w-100">
            <button type="button" class="btn btn-success">Setujui</button>
            <button type="button" 
                class="btn btn-danger" 
                data-dismiss="modal" 
                data-toggle="modal" 
                data-target="#alasanModal">
                X Tolak Akun 
            </button>
            </div>
        </div>
        </div>
    </div>
    </div>
    
    <!-- Modal Alasan -->
    <div class="modal fade" id="alasanModal" tabindex="-1" drole="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Verifikasi Pengguna</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="message-text" class="col-form-label">Alasan Penolakan Akun</label>
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-success">Setujui</button>
                <button type="button" 
                    class="btn btn-danger" 
                    data-dismiss="modal" 
                    data-toggle="modal"
                    data-target="#alasanModal">
                    Batal 
                </button>
            </div>
            </div>
        </div>
    </div>
    
    </div>
</template>

<script>
    import Vue from "vue" 
    // import axios from "axios"
    // import VueAxios from "vue-axios"
    export default {
    name: "DataVerifikasi",

    data(){
    return {
        data: null,
        
        }
    },

    mounted(){
    Vue.axios
    .get("https://632b04421090510116ceaf81.mockapi.io/data")
    .then((resp)=>{
        this.data = resp.data
    })
    },
}
</script>


<style lang="scss" scoped>
    .pending{
        background: #FAFDD4;
        border-radius: 10px;
        
    }
    .pendingRejected{
        background: #FDD4D4;
        border-radius: 10px;
        width: 68px;
        height: 24px;
    }
    .pendingComplete{
        background: #DCFDD4;
        border-radius: 10px;
        width: 68px;
        height: 24px;
    }
    .btn-primary{
        background-color:#77A4F9;
        font-size: 12px;
        border-color: #77A4F9;
    }
    .btn-success{
        background-color:#00BA88;
        font-size: 14px;
        border-color: #00BA88;
    }
    .btn-danger{
        background-color:#FE5E38;
        font-size: 14px;
        border-color: #FE5E38;
    }
</style>