<template lang="">
    <div>
        <!-- KONTEN-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <CardLandingPage/>
                </div> 
                <div class="col-lg-4">
                    <CardLandingPage/>
                </div> 
                <div class="col-lg-4">
                    <CardLandingPage/>
                </div> 
                <div class="col-lg-4">
                    <CardLandingPage/>
                </div> 
                <div class="col-lg-4">
                    <CardLandingPage/>
                </div> 
                <div class="col-lg-4">
                    <CardLandingPage/>
                </div> 
            </div>    
        </div>
    </div>
</template>
<script>
import CardLandingPage from '../components/VikNews/cardNews.vue';

export default {
    components: { CardLandingPage  }
}
</script>
<style lang="scss">


.font-poppins {
    font-family: poppins;
    color: #fff
}

.fs-banner {
    font-size: 30px;
    font-weight: 600;
}


</style>