<template>
    <div class="container">
        <div>
            <HeaderLaporan />
        </div>
        <div>
            <Main />
        </div>
    </div>
</template>

<script>
    import HeaderLaporan from "../components/DetailLaporan/HeaderLaporan.vue";
    import Main from "../components/DetailLaporan/main.vue";
export default {
    name: "DetailLaporan",
    components: { HeaderLaporan, Main }
}
</script>

<style lang="scss" scoped>

</style>
