<template lang="">
    <div> 
        <div class="banner-img">
            <div class="container mt-5">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid shadow-sm" src="/assets/img/event-detail.png" style="width: 800px; height: 500px;">            
                </div>
            </div>
        </div>
        <div class="box">
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 800px; border-radius: 0">
                    <div class="card-body">
                        <h5 class="font-weight-bold">Fusce aliquet porttitor convallis egestas diam</h5>
                        <span>by Sarah Doe</span>
                        <div class="mt-3">
                            <span><i class="fa-solid fa-calendar-week color-pomegranate"></i> Minggu, 11 September 2022</span><br>
                            <span class="mt-5"><i class="fa-regular fa-clock color-pomegranate"></i> 09.00 s/d 11.00 WIB</span><br>
                            <span class="mt-5"><i class="fa-solid fa-location-dot color-pomegranate"></i> Jl. xxxxxx, Hotel xxx lt 4, Jakarta</span>   
                        </div>
                        <hr>
                        <h5 class="font-weight-bold">Tentang Event</h5>
                        <p>    Duis tellus sagittis, laoreet morbi amet. Scelerisque aliquet sagittis nibh at mauris velit mattis. Mi lobortis eget ut morbi non. Volutpat ut neque egestas penatibus vulputate consequat, consectetur accumsan. At et, eget vel vel viverra in velit volutpat tincidunt. Amet convallis augue sit elit massa ultrices integer fringilla. Lectus tempus mi nunc, lectus erat tellus egestas nisl. Morbi dignissim in sit rhoncus. Suscipit blandit massa purus fusce. Sit at nisl nunc viverra.
                        Convallis arcu molestie lectus scelerisque. Semper sed aenean mollis neque, odio mauris augue. Elit ante vulputate ac accumsan et. Sed interdum pharetra malesuada bibendum placerat est. Cras pellentesque convallis elementum leo dui eget.
                        Duis tellus sagittis, laoreet morbi amet. Scelerisque aliquet sagittis nibh at mauris velit mattis. Mi lobortis eget ut morbi non. Volutpat ut neque egestas penatibus vulputate consequat, consectetur accumsan. At et, eget vel vel viverra in velit volutpat tincidunt. Amet convallis augue sit elit massa ultrices integer fringilla. Lectus tempus mi nunc, lectus erat tellus egestas nisl. Morbi dignissim in sit rhoncus. Suscipit blandit massa purus fusce. Sit at nisl nunc viverra.</p>
                        <hr>
                        <div class="mt-3">
                            <h5><i class="fa-solid fa-tag color-pomegranate"></i> Tags</h5>
                        </div>
                        <div class="justify-content-start">
                            <div class="btn btn-light">Teknologi</div>
                            <div class="btn btn-light">Bisnis</div>
                            <div class="btn btn-light">lorem ipsum</div>
                            <div class="btn btn-light">lorem ipsum</div>
                            <div class="btn btn-light">lorem ipsum</div>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn-pomegranate w-50" data-toggle="modal" data-target="#modalDaftarEvent">
                    Daftar Event
                </button>
            </div>
        </div>

        <!-- Modal Box Daftar -->
         <div class="modal fade"
             id="modalDaftarEvent"
             tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content container">
                    <div class="modal-header">
                        <img src="/assets/img/hero_vik_event.png" width="170px" height="170px" alt="Picture of event"
                             class="img-fluid me-3 rounded d-none d-md-block" loading="lazy">
                        <div>
                          <h5 class="modal-title fw-bold" id="exampleModalLongTitle">Fusce aliquet porttitor convallis egestas diam</h5>
                          <p>Minggu, 11 September 2022 | 09.00 s/d 11.00 WIB</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body my-5">
                        <form>
                            <legend>Konfirmasi Data</legend>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nama Lengkap</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="David Doe" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="David@example.com" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nomor Handphone</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0812xxxxxxx" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Pekerjaan</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Masukan Pekerjaan Anda">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Domisili</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Masukan Domisili Anda">
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <button class="btn-pomegranate w-50" data-toggle="modal" data-dismiss="modal" data-target="#modalBerhasilDaftar" type="submit">
                                    Daftar Event
                                </button>
                            </div>
                        </form>      
                    </div> 
                </div>
            </div>
        </div>

        <!-- Modal berhasil daftar -->
        <div class="modal fade"
             id="modalBerhasilDaftar"
             tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="/assets/img/hero_vik_event.png" width="170px" height="170px" alt="Picture of event"
                             class="img-fluid me-3 rounded d-none d-md-block" loading="lazy">
                        <div>
                          <h5 class="modal-title fw-bold" id="exampleModalLongTitle">Fusce aliquet porttitor convallis egestas diam</h5>
                          <p>Minggu, 11 September 2022 | 09.00 s/d 11.00 WIB</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center my-5">
                        <img src="/assets/img/email-sent.png" width="300px" height="250px" alt="Email sent"
                             class="img-fluid" loading="lazy">
                        <h3 class="fw-bolder mt-5">Anda telah terdaftar di event ini!</h3>
                        <h4 class="fw-semibold">Ticket akan dikirimkan melalui Email anda</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">

.banner-img {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    height: 450px;
    background: url('/assets/img/event-detail-blur.jpeg');
}

.btn-pomegranate {
    background-color: #EF4C29;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-pomegranate:hover {
    background-color: #FF7C60;
    color: #fff;
}

.color-pomegranate {
    color: #EF4C29;
}

.box {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 0.3rem;
}
</style>