<template>
  <div>
    <!-- All Event-->
    <div class="container mt-5">
      
      <div class="d-flex justify">
        <a href="vik#/event-admin/add-event"><button class="btn-add font-weight-light mr-4"> <i class="fa-regular fa-calendar-plus  mr-3"></i> Buat Event</button></a>
        <a href="vik#/event-admin/draft"><button class="btn-view font-weight-light mr-4">Draft</button></a>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
        <h3 class="font-weight-bold">Semua Event</h3>
        </div>
        <div class="col-md-6">
          <div class="dropdown show text-right">
          <a class="btn btn-light dropdown-toggle border border-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Lokasi</a>
            <a class="dropdown-item" href="#">Tanggal</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        </div>
        </div>
      <div class="progress" style="height: 5px">
        <div
          class="progress-bar bg-black"
          role="progressbar"
          style="width: 14%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <div class="row">
        <div class="">
          <CardNewEventAdmin />
        </div>
        <div class="">
          <CardNewEventAdmin />
        </div>
        <div class="">
          <CardNewEventAdmin />
        </div>
        <div class="">
          <CardNewEventAdmin />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardNewEventAdmin from "../components/VikEvent/CardNewEventAdmin.vue";
export default {
  components: { CardNewEventAdmin },
};
</script>

<style scoped>
.button-daftar-scoped {
  background: #ef4c29;
  border-radius: 10px;
  color: white;
}

.button-daftar-scoped:hover {
  background: #ce4021;
  border-radius: 10px;
  color: white;
}

hr {
  height: 5px;
  border: 5px;
  background-color: #263238;
  border-radius: 5px;
  width: 70px;
}

.bg-grey {
  background-color: #f4f4f4;
}

.btn-view {
    background-color: #fff;
    color: #EF4C29;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    border: 1px solid;
    border-color: #FF7C60;
    padding: 0.6rem 4.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-view:hover {
    background-color: #FF7C60;
    color: #fff;
}

.btn-add {
    background-color: #EF4C29;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    border: 1px solid;
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-add:hover {
    background-color: #fff;
    color: #FF7C60;
}

.border-secondary{
  padding: 0.2rem 1rem 0.1rem 1rem ;
}
</style>