<template lang="">
  <div>
    <div class="banner-img"></div>
    <div class="container detail-content">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="hero-detail d-flex justify-content-center">
            <img
              class="img-fluid shadow-sm"
              src="/assets/img/event-detail.png"
            />
          </div>
          <div class="card card-detail d-flex justify-content-center">
            <div class="card-body mx-lg-5 mx-0 my-lg-3 my-0">
              <h3 class="font-weight-bold">
                Fusce aliquet porttitor convallis egestas diam
              </h3>
              <p style="font-size: 18px; font-weight: 500; color: #4e575c">
                by Sarah Doe
              </p>
              <div class="row mt-4">
                <span class="time-event"
                  ><i
                    class="fa-solid fa-calendar-day color-pomegranate mr-1"
                  ></i>
                  Minggu, 11 September 2022</span
                >
                <span class="time-event mt-3"
                  ><i class="fa-regular fa-clock color-pomegranate mr-1"></i>
                  09.00 s/d 11.00 WIB</span
                >
                <span class="time-event mt-3"
                  ><i
                    class="fa-solid fa-location-dot color-pomegranate mr-1"
                  ></i>
                  Jl. xxxxxx, Hotel xxx lt 4, Jakarta</span
                >
                <span
                  class="mt-4 text-right"
                  style="font-size: 18px; font-weight: 500; color: #4e575c"
                  >Pendaftar : 60 Orang</span
                >
              </div>
              <hr />
              <h3 class="font-weight-bold mt-4 mb-3">Tentang Event</h3>
              <p class="text-justify" style="font-size: 18px">
                Duis tellus sagittis, laoreet morbi amet. Scelerisque aliquet
                sagittis nibh at mauris velit mattis. Mi lobortis eget ut morbi
                non. Volutpat ut neque egestas penatibus vulputate consequat,
                consectetur accumsan. At et, eget vel vel viverra in velit
                volutpat tincidunt. Amet convallis augue sit elit massa ultrices
                integer fringilla. Lectus tempus mi nunc, lectus erat tellus
                egestas nisl. Morbi dignissim in sit rhoncus. Suscipit blandit
                massa purus fusce. Sit at nisl nunc viverra. <br />
                Convallis arcu molestie lectus scelerisque. Semper sed aenean
                mollis neque, odio mauris augue. Elit ante vulputate ac accumsan
                et. Sed interdum pharetra malesuada bibendum placerat est. Cras
                pellentesque convallis elementum leo dui eget. <br />
                Duis tellus sagittis, laoreet morbi amet. Scelerisque aliquet
                sagittis nibh at mauris velit mattis. Mi lobortis eget ut morbi
                non. Volutpat ut neque egestas penatibus vulputate consequat,
                consectetur accumsan. At et, eget vel vel viverra in velit
                volutpat tincidunt. Amet convallis augue sit elit massa ultrices
                integer fringilla. Lectus tempus mi nunc, lectus erat tellus
                egestas nisl. Morbi dignissim in sit rhoncus. Suscipit blandit
                massa purus fusce. Sit at nisl nunc viverra.
              </p>
              <hr />
              <div class="mt-3">
                <div class="d-flex mt-4">
                  <i
                    class="fa fa-tag color-pomegranate mr-2 mb-4"
                    style="font-size: 25px"
                  ></i>
                  <h4 class="fw-semibold">Tags</h4>
                </div>
              </div>
              <div class="justify-content-start">
                <label class="tags-item">Teknologi</label>
                <label class="tags-item">Bisnis</label>
                <label class="tags-item">Lorem Ipsum</label>
                <label class="tags-item">Lorem Ipsum</label>
                <label class="tags-item">Lorem Ipsum</label>
              </div>
            </div>
          </div>
          <div class="container mt-3">
            <div class="row d-flex">
              <button class="btn btn-delete">
                <i class="fa-solid fa-trash icon-color mr-2"></i>Hapus Event
              </button>
              <button class="btn btn-edit ms-auto">
                <i class="fa-solid fa-pen icon-color mr-2"></i>Edit Event
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.banner-img {
  background: url("/assets/img/event-detail-blur.jpeg");
  height: 80vh;
  width: 100%;
  position: absolute;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-detail {
  margin-top: 100px;
}
.time-event {
  font-weight: 500;
  font-size: 18px;
  color: #6e6e6e;
}
.tags-item {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 33px;
  background: #cdcdcd;
  border-radius: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.btn-delete {
  background-color: #fff;
  color: #ef4c29;
  display: inline-block;
  font-weight: 500;
  border-color: #ff7c60;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.35rem;
  width: 49%;
}
.btn-delete:hover {
  background-color: #ff7c60;
  color: #fff;
}
.btn-edit {
  background-color: #ef4c29;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.35rem;
  width: 49%;
}
.btn-edit:hover {
  background-color: #ff7c60;
  color: #fff;
}

@media (min-width: 1400px) {
  .card-detail {
    margin: 0 25px;
  }
}
</style>
