<template>
  <div>
    <!-- Header for VIK Event Page -->
    <div class="row flex-lg-row-reverse align-items-center bg-grey p-3">
      <div class="col-lg-6 p-3">
        <h4 class="fw-bolder">Event</h4>
        <hr class="m-0 p-0">
        <h3 class="fw-bold my-4">Fusce aliquet porttitor convallis egestas diam.</h3>
        <p class="mb-4">Nisl sit viverra posuere mi eget duis. Urna consectetur nulla tellus nulla
          nulla scelerisque consequat. Ac, convallis tristique neque arcu vitae porttitor amet faucibus...</p>
          <button type="button" class="button-daftar-scoped">Daftar Sekarang</button>
      </div>
      <div class="col-12 col-sm-12 col-lg-6">
          <img src="/assets/img/hero_vik_event.png" class=" mx-lg-auto img-fluid" alt="Hero VIK Event" loading="lazy">
      </div>
    </div>
        <!-- Event Terkini-->
        <div class="container mt-5">
          <h3 class="font-weight-bold">Event Terkini</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-black" role="progressbar" style="width: 14%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
            <div class="row">
                <div class="col-lg-4">
                  <CardEvent/>
                </div>
                <div class="col-lg-4">
                  <CardEvent/>
                </div>
                <div class="col-lg-4">
                  <CardEvent/>
                </div>
                <div class="col-lg-4">
                  <CardEvent/>
                </div>
                <div class="col-lg-4">
                  <CardEvent/>
                </div>
                <div class="col-lg-4">
                  <CardEvent/>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
              <button class="btn-view font-weight-light mr-4">Load More</button>
            </div>
        </div>
        <!-- All Event-->
        <div class="container mt-5">
          <h3 class="font-weight-bold">Semua Event</h3>
          <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-black" role="progressbar" style="width: 14%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
            <div class="row">
                <div class="">
                  <CardNewEvent/>
                </div>
                <div class="">
                  <CardNewEvent/>
                </div>
                <div class="">
                  <CardNewEvent/>
                </div>
                <div class="">
                  <CardNewEvent/>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import CardEvent from '../components/VikEvent/CardEvent.vue';
import CardNewEvent from '../components/VikEvent/CardNewEvent.vue';
export default {
    components: { CardEvent, CardNewEvent }
}
</script>

<style scoped>
.button-daftar-scoped {
  background: #EF4C29;
  border-radius: 10px;
  color: white;

  display: inline-block;
  font-weight: 500;
  text-align: center;
  border: 2px solid #EF4C29;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.button-daftar-scoped:hover {
  background-color: white;
  color: #EF4C29;
}

hr {
  height: 5px;
  border: 5px;
  background-color: #263238;
  border-radius: 5px;
  width: 70px;
}

.bg-grey {
  background-color: #F4F4F4;
}

.btn-view {
    background-color: #fff;
    color: #EF4C29;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    border-color: #FF7C60;
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-view:hover {
    background-color: #FF7C60;
    color: #fff;
}

</style>