<template lang="">
    <div>
        <div class="bg-header">
            <div class="container">
                <div class="card-img-overlay d-flex flex-column justify-content-center mt-5 ml-5 text-light">
                    <div class="col-md-8">
                        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, libero?</h5>
                        <p class="mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, aut! Id voluptatum deleniti voluptate laudantium sed, sit, delectus corporis molestiae ad officiis similique tenetur labore possimus pariatur dolorum eveniet perspiciatis animi hic qui quaerat ullam, eius nostrum minima. Odit, corporis sed. Maxime repudiandae ad pariatur in earum repellat doloribus perferendis corrupti ab soluta,.</p>
                    </div>
                </div>
            </div>              
        </div>


        <div class="container">
            <div class="box shadow" style="margin-top: -80px;">
                <div class="d-flex justify-content-between">
                    <h5 class="font-weight-bold color-pomegranate">VIK Asia TV</h5>
                    <p class="color-pomegranate">view all</p>
                </div>
                <div class="progress" style="height: 5px;">
                    <div class="progress-bar bg-pomegranate" role="progressbar" style="width: 14%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>                

                <div class="d-flex justify-content-center mt-5">
                    <a href="">
                        <div class="card text-white shadow-sm" style="border: 0;">
                            <img class="card-img" src="/assets/img/vik-asia-tv.png" alt="Card image">           
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
                                <div class="d-flex justify-content-center">
                                    <h1>
                                        <i class="fa-regular fa-circle-play fs-100"></i>
                                    </h1>
                                </div>
                            </div>
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                                <span>26 Sept 2022</span>
                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="carouselExampleControls" class="carousel slide mt-5" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-3">
                                        <div class="card shadow-sm">
                                            <img class="card-img-top" src="/assets/img/vik-asia-tv.png" alt="Card image cap">
                                            <div class="card-body bg-light">
                                                <span>26 Sept 2022</span>
                                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur?</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-sm">
                                            <img class="card-img-top" src="/assets/img/vik-asia-tv.png" alt="Card image cap">
                                            <div class="card-body bg-light">
                                                <span>26 Sept 2022</span>
                                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur?</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-sm">
                                            <img class="card-img-top" src="/assets/img/vik-asia-tv.png" alt="Card image cap">
                                            <div class="card-body bg-light">
                                                <span>26 Sept 2022</span>
                                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur?</h5>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <!-- slide ke 2 -->
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-3">
                                        <div class="card shadow-sm">
                                            <img class="card-img-top" src="/assets/img/vik-asia-tv.png" alt="Card image cap">
                                            <div class="card-body bg-light">
                                                <span>26 Sept 2022</span>
                                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur?</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-sm">
                                            <img class="card-img-top" src="/assets/img/vik-asia-tv.png" alt="Card image cap">
                                            <div class="card-body bg-light">
                                                <span>26 Sept 2022</span>
                                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur?</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card shadow-sm">
                                            <img class="card-img-top" src="/assets/img/vik-asia-tv.png" alt="Card image cap">
                                            <div class="card-body bg-light">
                                                <span>26 Sept 2022</span>
                                                <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur?</h5>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <div class="bg-dark rounded-circle">
                        <span class="carousel-control-prev-icon mt-2 mr-1" aria-hidden="true" style="width: 35px; height: 30px"></span>
                        <span class="sr-only">Previous</span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <div class="bg-dark rounded-circle">
                        <span class="carousel-control-next-icon mt-2 ml-1" aria-hidden="true" style="width: 35px; height: 30px"></span>
                        <span class="sr-only">Next</span>
                        </div>
                    </a>
                    </div>
            </div>
        </div>


        <!-- KONTEN-->
        <div class="container">
            <div class="d-flex justify-content-between">
                <h5 class="font-weight-bold color-pomegranate">Top News</h5>
                <p class="color-pomegranate">view all</p>
            </div>
            <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-pomegranate" role="progressbar" style="width: 14%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 

            <div class="card text-white shadow-sm mt-5" style="border: 0; height: 500px">
                <img class="card-img" src="/assets/img/vik_artikel_data.png" alt="Card image" style="height: 500px">           
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <span>11 September 2022 - 10:30 WIB</span>
                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    <p>Quam id in ullamcorper sit pellentesque. Fringilla amet, vestibulum sollicitudin sapien consectetur. Gravida lorem arcu sed nunc convallis vestibulum condimentum turpis amet. Gravida lorem arcu sed nunc convallis vestibulum condimentum turpis amet.</p>
                    <button class="btn-pomegranate w-25">Teknologi</button>
                    </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <CardNews/>
                </div> 
                <div class="col-lg-4">
                    <CardNews/>
                </div> 
                <div class="col-lg-4">
                    <CardNews/>
                </div> 
                <div class="col-lg-4">
                    <CardNews/>
                </div> 
                <div class="col-lg-4">
                    <CardNews/>
                </div> 
                <div class="col-lg-4">
                    <CardNews/>
                </div> 
            </div>    
        </div>

        <div class="container">
            <div class="d-flex justify-content-between">
                <h5 class="font-weight-bold color-pomegranate">Event</h5>
                <p class="color-pomegranate">view all</p>
            </div>
            <div class="progress" style="height: 5px;">
                <div class="progress-bar bg-pomegranate" role="progressbar" style="width: 14%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 
            <div class="row">
                <div class="col-md-4">
                    <CardEvent />
                </div>
                <div class="col-md-4">
                    <CardEvent />
                </div>
                <div class="col-md-4">
                    <CardEvent />
                </div>
            </div>
        </div>

    
    </div>
</template>
<script>
    import CardNews from '../components/VikNews/cardNews.vue';
    import CardEvent from '../components/VikEvent/CardEvent.vue';
    
export default {
    components: { CardNews, CardEvent  }
}
</script>
<style lang="scss" scoped>

.card {
    border: 0;
}

.card img{
    opacity: 0.85;
}

.bg-header {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    height: 550px;
    background: url('/assets/img/bg_auth.png');
}


.bg-pomegranate {
    background-color: #EF4C29;
}

.btn-pomegranate {
    background-color: #EF4C29;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-pomegranate:hover {
    background-color: #FF7C60;
    color: #fff;
}


.font-poppins {
    font-family: poppins;
    color: #fff
}

.fs-banner {
    font-size: 30px;
    font-weight: 600;
}


</style>