<template>
  <div>

    <div class="bg-image p-5"
         style="
         background-image: url(/assets/img/bg-hero-vik-laporan.png);
         background-size: cover;
         height: auto;
         "
    >
      <div class="row justify-content-center align-middle">
        <div class="col-12 col-lg-9 align-items-center">
          <div class="row justify-content-between rounded shadow bg-white align-items-center">
            <div class="col-12 col-lg-5 m-0 p-0">
              <div class="text-center">
                <button type="button" class="float-lg-start p-4 button-category-scoped  rounded-start" :class="{active: category === 'free' }" @click="setSelectedCategory('free')">Free Reports</button>
                <button type="button" class="float-lg-start p-4 button-category-scoped" :class="{active: category === 'premium' }" @click="setSelectedCategory('premium')">Premium Reports</button>
              </div>
            </div>
            <div class="col-12 col-lg-5 my-3 my-md-0">
              <div class="row">
                <div class="col align-items-center">
<!--                  <input class="input" type="text" placeholder="🔍 Search">-->
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">🔍</span>
                    <input
                        class="form-control"
                        type="text" placeholder="Search"
                        aria-label="Search"
                        v-model="search"
                    >
                  </div>
                </div>
                <div class="col">
                  <div class="btn-group">
                    <button class="btn border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Sort By
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">All</a>
                      <a class="dropdown-item" href="#">Latest</a>
                      <a class="dropdown-item" href="#">Oldest</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Loading -->
    <div v-if="loading" class="text-center justify-content-center m-5">
      <h1>Loading...</h1>
    </div>
    <!-- If data not found -->
    <div v-if="notFound" class="text-center justify-content-center m-5">
      <h1>Data Not Found</h1>
    </div>

    <!-- Card Laporan -->
    <div class="container-fluid" v-if="resultQuery.length">
      <div class="row row-cols-2 my-3 mx-3 mx-sm-5 justify-content-center">
        <!-- Card -->
        <div class="col-12 col-sm-5 p-4" v-for="(item) in resultQuery" :key="item">
          <div class="card p-2 shadow">
            <img src="/assets/img/logo-vik-laporan.png" class="card-img-top img-fluid" alt="...">
            <div class="card-body text-center">

              <h5 class="card-title fw-bold mx-3">{{ item.title }}</h5>
              <a href="/vik#/reports/detail"><button type="button" class="button-download-scoped w-100 fw-bold">Download</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-2 my-3 mx-3 mx-sm-5 justify-content-center">
        <div class="col-6 col-sm-3 text-center my-5">
          <button type="button" class="button-load-more-scoped w-100 fw-bold">Load More</button>
        </div>
      </div>

    </div>

  </div>

</template>

<script>
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
  name: "Laporan",
  data() {
    return {
      listFreeReports: [],
      listPremiumReports: [],
      category: 'free',
      activeBtn: '',
      search: null,
      loading: true,
      notFound: false
    }
  },
  mounted() {
    Vue.axios
        .get("https://6316cf6c82797be77feb2f0c.mockapi.io/free_reports")
        .then( response => ( this.listFreeReports = response.data ))
        .catch(error => {
          this.loading = false;
          this.notFound = true;
        })
        .finally(() => {
          this.loading = false;
        });
    Vue.axios
        .get("https://6316cf6c82797be77feb2f0c.mockapi.io/premium_reports")
        .then( response => ( this.listPremiumReports = response.data ))
        .catch(error => {
          this.loading = false;
          this.notFound = true;
        })
        .finally(() => {
          this.loading = false;
        });
  },
  computed:{
    resultQuery() {
      if (this.category === 'free') {
        if (this.search) {
          return this.listFreeReports.filter( (item) => {
            return this.search.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
          })
        } else {
          return this.listFreeReports;
        }
      } else {
        if (this.search) {
          return this.listPremiumReports.filter((item) => {
            return this.search.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
          })
        } else {
          return this.listPremiumReports;
        }
      }
    },
  },
  methods: {
    setSelectedCategory(category) {
      this.category = category;
    }
  }
}
</script>

<style scoped>
.button-download-scoped {
  background: #EF4C29;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  text-align: center;
  border: 2px solid #EF4C29;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.button-download-scoped:hover {
  background-color: white;
  color: #EF4C29;
}

.button-load-more-scoped {
  background-color: white;
  border-radius: 50px;
  color: #EF4C29;
  font-weight: 500;
  text-align: center;
  border: 2px solid #EF4C29;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.button-load-more-scoped:hover {
  background: #EF4C29;
  color: white;
}

.button-category-scoped {
  background-color: white;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.active {
  background: #FF8E54;
  color: white;
}
a{
  text-decoration: none;
  color: black;
}
</style>