<template lang="">
    <div>
        <div class="row">
            <div class="col-7">
                <img src="/assets/img/bg-auth.png" alt="">
            </div>
            <div class="col-4 mt-5">
                <h5 class="mt-5">Log in</h5>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" placeholder="masukan email anda">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Password</label>
                    <input type="text" class="form-control" placeholder="masukan password anda">
                </div>
                <div class="d-flex justify-content-end text-pomegranate">lupa password?</div>
                <button class="btn-pomegranate w-100 rounded mt-3">Log in</button>
                <hr>           
                <p class="text-center">OR</p>
                <div class="d-flex justify-content-center">
                    <a href="" class="btn"><img class="w-50" src="assets/img/btn_google.png" alt=""></img></a>
                    <a href="" class="btn"><img class="w-50" src="assets/img/btn_linkedin.png" alt=""></img></a>
                    <a href="" class="btn"><img class="w-50" src="assets/img/btn_facebook.png" alt=""></img></a>
                </div>
                <p class="text-center mr-2">Don’t you have an Account?
                    <a href="" class="ml-2 text-pomegranate">Sign up</a>
                </p>
                
            </div>
        </div>
    </div>
</template>
<script>
export default {

}
</script>
<style lang="scss">
.btn-pomegranate {
    background-color: #EF4C29;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.50rem 0.50rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}
.btn-pomegranate:hover {
    background-color: #FF7C60;
    color: #fff;
}
.text-pomegranate {
    color: #EF4C29;
}
</style>