<template lang="">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light shadow-sm" style="width: 100%; border: 0;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Costumed Handled</h5>
                        <h1>5</h1>
                    </div>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="card bg-light shadow-sm" style="width: 100%; border: 0;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Avg. Resolved Time</h5>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Admin</th>
                                    <th scope="col">Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A</td>
                                    <td>10 Menit</td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td>12 Menit</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>8 Menit</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div> 
            </div>
        </div>

        <h5 class="mt-3">Customer Satisfaction</h5>
        <small>Data 12 customers</small>
         <div class="row">
            <div class="col">
                <h3>Tidak Puas</h3>
                <p>3</p>
            </div>
            <div class="col">
                <h3>Puas</h3>
                <p>5</p>
            </div>
            <div class="col">
                <h3>Sangat Puas</h3>
                <p>7</p>
            </div>
         </div>
        <div class="chart">
           <canvas id="myChart"></canvas> 
        </div>
        
    </div>
</template>
<script>
    // import { end } from '@popperjs/core';
    import Chart from 'chart.js/auto';
    import ChartDataLabels from 'chartjs-plugin-datalabels';
    // import { plugins } from '../../../vendor/filp/whoops/src/Whoops/Resources/js/prism';
    // import { onMounted } from 'vue';

export default {
   mounted(){
    console.log('Component mounted')

    // chart bar
    const ctx = document.getElementById('myChart')
    const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Sangat Puas', 'Puas', 'Tidak Puas'],
        datasets: [{
            label:['Report'],
            data: [3, 5, 7 ,9],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    plugins: [ChartDataLabels],
    options: {
        indexAxis: 'y',
        // plugins: {
        //     legend: {
        //         display : false,
        //     },
        // },
        plugins: {
            legend: {
                display : false,
            },
            datalabels: {
                anchor: 'end',
                align: 'right',
                // formatter: (value, contex) =>{
                //     // console.log(contex);
                //     const datasetArray = [];
                //     contex.chart.data.datasets.forEach((dataset) => {
                //         console.log(dataset.data[0]);
                //         datasetArray.push(dataset.data[0]);
                //     });
                //     console.log(datasetArray) 
                // }
                formatter: function(value, context) {
                // return context.dataIndex + ': ' + Math.round(value*100) + '%';
                let sum = 0;
                    let dataArr = context.chart.data.datasets[0].data;
                    dataArr.map(data => {
                        sum += data;
                    });
                    let percentage = (value*100 / sum).toFixed(2)+"%";
                    return percentage;
                
                }
            }
        }
    }
});
//     const myChart = new Chart(ctx, {
//         type: 'bar',
//         data,
// });
myChart;
} 
}

</script>
<style lang="scss">
    .kotak{
        background: red;
        width: 50px;
        height: 50px;
    }
    .chart{
        width: 700px;
        align-content: center;
        padding: 0;
    }
</style>