<template>
  <div>
    <!-- All Event-->
    <div class="container mt-5">
      
      <div class="row">
        <div class="col-md-6" style="padding: 0;">
          <div class="input-group col-md-8">
              <input class="form-control py-2 border-right-0 border" type="search" placeholder="search" id="example-search-input">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                      <i class="fa fa-search"></i>
                </button>
              </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="dropdown show text-right">
          <a class="btn btn-light dropdown-toggle border border-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Lokasi</a>
            <a class="dropdown-item" href="#">Tanggal</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        </div>
        </div>
        <br>
      
      <div class="row">
        <div class="">
          <CardRequest />
        </div>
        <div class="">
          <CardRequest />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardRequest from "../components/VIKRequestData/CardRequest.vue";
export default {
  components: { CardRequest },
};
</script>

<style scoped>
.button-daftar-scoped {
  background: #ef4c29;
  border-radius: 10px;
  color: white;
}

.button-daftar-scoped:hover {
  background: #ce4021;
  border-radius: 10px;
  color: white;
}

hr {
  height: 5px;
  border: 5px;
  background-color: #263238;
  border-radius: 5px;
  width: 70px;
}

.bg-grey {
  background-color: #f4f4f4;
}

.btn-view {
    background-color: #fff;
    color: #EF4C29;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    border: 1px solid;
    border-color: #FF7C60;
    padding: 0.6rem 4.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-view:hover {
    background-color: #FF7C60;
    color: #fff;
}

.btn-add {
    background-color: #EF4C29;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    border: 1px solid;
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
}

.btn-add:hover {
    background-color: #fff;
    color: #FF7C60;
}

.border-secondary{
  padding: 0.2rem 1rem 0.1rem 1rem ;
}
</style>