<template lang="">
    <div>
        <!-- KONTEN-->
        <div class="container">
            <CardBannerNews/>
            <!-- Loading -->
            <div v-if="loading" class="text-center justify-content-center m-5">
            <h1>Loading...</h1>
            </div>
            <!-- If data not found -->
            <div v-if="notFound" class="text-center justify-content-center m-5">
            <h1>Data Not Found</h1>
            </div>
            <!-- Card Topic -->
            <div class="container-fluid" v-if="listTopic.length">
                <div class="row">
                    <!-- Card -->
                    <div class="col-lg-4 my-5" v-for="(item,index) in listTopic" :key="item">
                        <div v-if="index<6">
                            <router-link class="routerLink text-black" to="/artikel-data">
                            <div class="row">
                                <div class="col-12">
                                    <img src="/assets/img/Rectangle 983.png" alt="" />
                                    <p class="card-text text-muted fw-500 fs-16px mt-3">
                                    <!-- 26 Sept 2022{{ item.createdAt}} -->
                                    {{ formatDate(item.createdAt) }}
                                    </p>
                                    <h4 class="card-text mb-3"><b>
                                    <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
                                    {{ item.title }}
                                    </b></h4>
                                    <label class="tags-item text-light">{{ item.topic_id }}</label>
                                </div>
                            </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <!-- All Event-->
            <div class="mt-3">
                <h3 class="font-weight-bold" style="color:#EF4C29;">Recent News</h3>
                <div class="progress  mb-5" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 14%; background-color:#EF4C29;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row" v-for="(item,index) in listRecent" :key="item">
                    <!-- Card -->
                    <div v-if="index<6">
                            <router-link class="routerLink text-black" to="/artikel-data">
                            <div class="card mb-4" style="border:0;">
                                <div class="row">
                                    <div class="col-md-3">
                                    <img src="/assets/img/hero_vik_event.png" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="d-flex">
                                            <div class="card-body mt-4">
                                                <p class="card-text text-muted fs-18px mt-1"><b>
                                                {{ formatDate(item.createdAt) }}
                                                </b></p>
                                                <h2 class="card-text mb-3"><b>
                                                {{ item.title }}
                                                </b></h2>
                                                <label class="tags-item text-light">{{ item.topic_id }}</label>
                                                <!-- <p class="card-text font-weight-bold">Hotel xxx lt 4 . Jakarta</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </router-link>
                        </div>
                </div>
                <!-- Loading -->
                <div v-if="loading" class="text-center justify-content-center m-5">
                <h1>Loading...</h1>
                </div>
                <!-- If data not found -->
                <div v-if="notFound" class="text-center justify-content-center m-5">
                <h1>Data Not Found</h1>
                </div>
                
            </div>
            <div class="mt-5">
            <h3 class="font-weight-bold" style="color:#EF4C29;">Newest Video</h3>
            <div class="progress" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 14%; background-color:#EF4C29;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
                <div class="row">
                    <div class="col-lg-4">
                        <CardNewsVideo/>
                    </div> 
                    <div class="col-lg-4">
                        <CardNewsVideo/>
                    </div> 
                    <div class="col-lg-4">
                        <CardNewsVideo/>
                    </div> 
                    <div class="col-lg-4">
                        <CardNewsVideo/>
                    </div> 
                    <div class="col-lg-4">
                        <CardNewsVideo/>
                    </div> 
                    <div class="col-lg-4">
                        <CardNewsVideo/>
                    </div> 
                </div>
            </div>
        </div>
        </div>
    </div>
</template>
<script>

import CardNewsVideo from '../components/VikNews/cardNewsVideo.vue';
import CardBannerNews from '../components/VikNews/cardBannerNews.vue';

import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"
import dayjs from 'dayjs'

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

export default {
  name: "Laporan",
  components: { CardBannerNews,CardNewsVideo  },
  data() {
    return {
      listTopic: [],
      listRecent: [],
      loading: true,
      notFound: false,
      date: '0000-00-00T00:500:00-0000'
    }
  },
  mounted() {
    Vue.axios
        .get("https://6316d46c82797be77febb4fc.mockapi.io/news_vik")
        .then( response => ( this.listTopic = response.data ))
        .catch(error => {
          this.loading = false;
          this.notFound = true;
        })
        .finally(() => {
          this.loading = false;
        });
    Vue.axios
        .get("https://6316d46c82797be77febb4fc.mockapi.io/news_vik")
        .then( response => ( this.listRecent = response.data ))
        .catch(error => {
          this.loading = false;
          this.notFound = true;
        })
        .finally(() => {
          this.loading = false;
        });
  },
  methods: {
    setSelectedCategory(category) {
      this.category = category;
    },
    formatDate(dateString) {
            const date = dayjs(dateString);
                // Then specify how you want your dates to be formatted
            return date.format('D MMMM YYYY');
        }
  }
}
</script>
<style scoped>
.routerLink{
     text-decoration: none;
 }
.tags-item {
  padding: 3px 32px;
  background: #EF4C29;
  border-radius: 5px;
}
.progress{
    background-color:#f97759;
    color: #EF4C29;
}

.button-load-more-scoped {
  background-color: white;
  border-radius: 50px;
  color: #EF4C29;
  font-weight: 500;
  text-align: center;
  border: 2px solid #EF4C29;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.button-load-more-scoped:hover {
  background: #EF4C29;
  color: white;
}
</style>