<template lang="">
    <div class="container mt-4">   
        <h5 class="font-weight-bold color-pomegranate">All Videos</h5>
        <div class="progress" style="height: 5px;">
            <div class="progress-bar bg-pomegranate" role="progressbar" style="width: 14%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> 

        <!-- form search -->
        <div class="card mt-3 bg-pomegranate" style="border: none">
            <div class="card-body">
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" v-model="search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">Short by <i class="fa-solid fa-sort"></i></button>
            </form>
            </div>
        </div>
        <!-- end form search -->

        <div v-if="resultQuery.length">
            <div v-for="(item,index) in pageOfItems"
            :key="index" class="card mb-3 mt-3" style="max-width: 700px; border: none">
            <div class="row g-0">
              <div class="col-md-4">
                <img :src="item.vidio" class="img-fluid rounded-start" alt="Card title">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">{{ item.createdAt }}</small></p>
                  <h5 class="card-title">{{ item.title }}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pb-0 pt-3">
            <jw-pagination :pageSize=2 :items="allvidio" @changePage="onChangePage"></jw-pagination>
          </div>       
        </div>
        <div v-else>
            <div class="alert alert-warning mt-3" role="alert">
                <strong>Data Tidak ditemukan</strong>
            </div>    
        </div>        
        
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

export default {

    name: "Allvideo",
    data() {
        return {
            allvidio: undefined,
            search: null,
            pageOfItems: []
        };
    },
    mounted() {
        Vue.axios
        .get("https://632ad0f1713d41bc8e77e003.mockapi.io/misal")
        .then((resp) => {
            this.allvidio = resp.data
        });
    },
    computed: {
        resultQuery() {
            if (this.search) {
                return this.pageOfItems.filter((items) => {
                    return this.search.toLowerCase().split(' ').every(v => items.title.toLowerCase().includes(v))
                });
            }else{
                return this.allvidio
            }
        }
    },
    methods: {
        onChangePage(pageOfItems) {
            // update page of items
            this.pageOfItems = pageOfItems;
        }
    }
    
}
</script>
<style lang="">
    
</style>