<template lang="">
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
            <a class="navbar-brand ml-4" href="#"><img
            class="img-fluid mb-2 mt-2"
            src="/assets/img/logo vik.png"
            alt=""
            style="max-width: 150px"
            /></a>
            <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav ml-5">
                <li class="nav-item">
                    <router-link to="/landing-page" class="nav-link">
                        <p class="my-3 ml-4">Home</p>
                    </router-link>
                    <!-- <a class="nav-link" href="#">Data</a> -->
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown">
                    <a class=" nav-link my-3 ml-4 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Topik
                    </a>
                    <div class="dropdown-menu border-top">
                        <h5 class="dropdown-header"><strong>Topik</strong></h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div  v-for="(item,index) in topic" :key="item.id">
                                    <div v-if="index%2==0 && index%3!=0">
                                        <router-link class="routerLink text-black" to="topic">
                                        <p class="dropdown-item">{{item.topic}}</p>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div  v-for="(item,index) in topic" :key="item.id">
                                    <div v-if="index%2==1 && index%3!=0">
                                        <router-link class="routerLink text-black" to="topic">
                                        <p class="dropdown-item">{{item.topic}}</p>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div  v-for="(item,index) in topic" :key="item.id">
                                    <div v-if="index%3==0">
                                        <router-link class="routerLink text-black" to="topic">
                                        <p class="dropdown-item">{{item.topic}}</p>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div  v-for="(item,index) in topic" :key="item.id">
                            <div class="row" v-if="index%2==1">
                                <div class="col-md-6">
                                    <router-link to="/topic">
                                        <p class="dropdown-item">{{topic.length/3}}</p>
                                    </router-link>
                                    <router-link to="/topic">
                                        <p class="dropdown-item">{{item.topic}}</p>
                                    </router-link>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="row">
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Covid-19</a>
                                <a class="dropdown-item" href="#">Kesehatan</a>
                                <a class="dropdown-item" href="#">Olahraga</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Politik</a>
                                <a class="dropdown-item" href="#">Ekonomi</a>
                                <a class="dropdown-item" href="#">Budaya</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Sosial</a>
                                <a class="dropdown-item" href="#">Keuangan</a>
                                <a class="dropdown-item" href="#">Hiburan</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                </li>
                <li class="nav-item">
                    <router-link to="/news" class="nav-link">
                        <p class="my-3 ml-4">News</p>
                    </router-link>
                    <!-- <a class="nav-link" href="#">Data</a> -->
                </li>
                <li class="nav-item">
                    <router-link to="/vik-asia-tv" class="nav-link">
                        <p class="my-3 ml-4">VIKAsia TV</p>
                    </router-link>
                    <!-- <a class="nav-link" href="#">VIKAsia TV</a> -->
                </li>
                <li class="nav-item">
                    <router-link to="/reports" class="nav-link">
                        <p class="my-3 ml-4">Reports</p>
                    </router-link>
                    <!-- <a class="nav-link" href="#">Reports</a> -->
                </li>
                <li class="nav-item">
                    <router-link to="/event" class="nav-link">
                        <p class="my-3 ml-4">Event</p>
                    </router-link>
                    <!-- <a class="nav-link" href="#">Event</a> -->
                </li>
                </ul>
            </div>
        </nav>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);

export default {
    name: "HeaderVik",
    data() {
    return {
      topic: undefined,
      search: null,
    };
    },
    mounted() {
        Vue.axios
          .get("https://6316d46c82797be77febb4fc.mockapi.io/topic_vik")
        .then((resp) => {
        this.topic = resp.data;
      });
      },

}
</script>
<style lang="scss">
.routerLink{
     text-decoration: none;
 }
.bg-pomegranate {
    background-color: #EF4C29;
}

.text-pomegranate {
    color: #EF4C29 !important;
}

.border-top {
    border-top: 5px solid #EF4C29 !important;
}

.dropdown-menu {
    min-width: 400px !important;
}
</style>