<template>
  <div class="col-md-3">
    <div
        class="card shadow-sm"
        style="border-radius: 0; border: none; background-color: #ef4c29"
    >
      <h4 class="sidebar-title text-light mx-4 my-4">User Management</h4>
    </div>
    <div class="list-group shadow-sm h-100">
      <router-link
          to="/data-user"
          class="list-group-item list-group-item-action flex-column align-items-start"
          style="border-radius: 0; border: none"
      >
        <div class="d-flex w-100 justify-content-between">
          <h6 class="sidebar-item my-3 ml-4">User</h6>
        </div>
      </router-link>
      <router-link
          to="/data-verifikasi"
          class="list-group-item list-group-item-action flex-column align-items-start"
          style="border-radius: 0; border: none"
      >
        <div class="d-flex w-100 justify-content-between">
          <h6 class="sidebar-item my-3 ml-4">Data Verifikasi</h6>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "SidebarUserManagement"
}
</script>

<style scoped>
.sidebar-title {
  font-size: 20px;
  font-weight: 600;
}
.sidebar-item {
  font-size: 18px;
  font-weight: 500;
}
a.router-link-active {
  background: #9FA2B414;
;
}
</style>