<template>
  <div class="container py-5">
    <div class="row mt-2">
      <div class="col-lg-3 col-md-4 mb-3">
        <div class="border rounded p-3 mb-3">
          <p class="text-muted fs-14px mb-2">Judul Survey</p>
          <h6>{{ this.dataid.surveyjs_name }}</h6>
          <hr />
          <p class="text-muted fs-14px mb-2">Jenis Survey</p>
          <h6 v-if="this.dataid.type =='paid'">Survey Member</h6>
          <h6 v-if="this.dataid.type =='free'">Survey Public</h6>
          <hr />
          <p class="text-muted fs-14px mb-2">Total Responden</p>
          <h6>
            {{ this.resultcount }}/{{ this.dataid.max_attempt }} Responden
          </h6>
        </div>
        <div class="dropdown mt-3">
          <button
            class="btn btn-default text-light w-100"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Unduh Hasil
            <i class="fas fa-download ms-1"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-file-pdf fa-fw"></i> PDF</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-file-csv fa-fw"></i> CSV</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-file-excel fa-fw"></i> Excel</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-file-powerpoint fa-fw"></i> Power Point</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-print fa-fw"></i> Print</a
              >
            </li>
          </ul>
        </div>
        <button
          class="btn rounded-5 btn-yellow text-light w-100 mt-3"
          @click="downloadFile"
        >
          Grouping Data
        </button>
        <button
          class="btn rounded-5 btn-secondary text-light w-100 mt-3"
          @click="downloadFile"
        >
          Advance Analisis
        </button>

        <!-- <button
          class="btn btn-default text-light w-100"
          type="button"
          id="dropdownMenuButton1"
          @click="downloadFile()"
        >
          Unduh Hasil
          <i class="fas fa-download ms-5"></i>
        </button> -->
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="border rounded" id="surveyVizPanel" />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import exportFromJSON from "export-from-json"; //download csv
Vue.use(VueAxios, axios);
Vue.use(require("vue-moment"));

import { Model } from "survey-core";
import { VisualizationPanel } from "survey-analytics";

import "survey-core/survey.i18n.js";
import "survey-core/defaultV2.css";
import "survey-analytics/survey.analytics.min.css";
import "/css/style-surveyjs.css";

const vizPanelOptions = {
  allowHideQuestions: false,
};

export default {
  name: "SurveyReportNew",
  props: ["survey_id", "survey_postId"],
  data() {
    return {
      accessKey: "30d2d9d234ef47e4818d9fbd19b5360e",
      resultcount: 0,
      datasurvey: {},
      target: 0,
      targetSurvey: 0,
      dataid: "",
    };
  },
  mounted() {
    var jsonWithIds = {
      surveyId: this.survey_id,
      surveyPostId: this.survey_postId,
      datasurvey: this.datasurvey,
    };
    var survey = new Model(jsonWithIds);

    Vue.axios
      .get(
        "https://api.surveyjs.io/private/Surveys/getSurveyResults/" +
          this.survey_id +
          "?accessKey=" +
          this.accessKey
      )
      .then((response) => {
        const vizPanel = new VisualizationPanel(
          survey.getAllQuestions(),
          response.data.Data,
          vizPanelOptions
        );
        this.datasurvey = response.data.Data;
        this.resultcount = response.data.ResultCount;
        console.log(this.resultcount);
        vizPanel.showHeader = false;
        vizPanel.render("surveyVizPanel");
        Vue.axios
          .get(`/api/surveyjs-showbyid/${this.survey_id}`)
          .then((response) => {
            this.dataid = response.data.data;
            this.targetSurvey = response.data.data.max_attempt;
          })
          .catch((error) => {
            alert("Belum ada jawaban");
          });
      })
      .catch((error) => {
        alert("Belum ada jawaban");
      });
  },
  methods: {
    downloadFile() {
      const data = this.datasurvey;
      const fileName = "datasurvey";
      const exportType = exportFromJSON.types.csv;

      if (data) exportFromJSON({ data, fileName, exportType });
    },
  },
};
</script>

<style scoped>
.btn-default {
  background-color: #ef4c29;
  border-radius: 5px;
}
.btn-default:hover {
  background-color: #ff7833;
}
.btn-yellow {
  background-color: #ff7833;
}
.btn-yellow:hover {
  background-color: #fc8042;
}
</style>
