<template>
    <div>
        <div class="container mt-4">
            <h2>Data Responden</h2>
            <div>
                <table class="table align-middle  table-bordered">
                    <thead>
                        <tr class="text-center">
                        <th scope="col" style="background-color: #FFB536;"></th>
                        <th scope="col" style="background-color: #FFB536;">Nickname</th>
                        <th scope="col" style="background-color: #FFB536;">Status</th>
                        <th scope="col" style="background-color: #FFB536;">Responden</th>
                        <th scope="col" style="background-color: #FFB536;">Date Modified</th>
                        <th scope="col" style="background-color: #FFB536;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                        <th scope="row">
                           <font-awesome-icon icon="fa-solid fa-share-nodes" />
                        </th>
                        <td><a
            :href="`/researcher/surveyjs/link-survey/${survey_id}`"
            class="link-secondary text-decoration-none"
          >
            Share Link</a
          >
</td>
                        <td>Active</td>
                        <td>{{this.resultcount}}</td>
                        <td><span>{{ this.item.data.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</span></td>
                        <td> 
                            <button type="button" class="btn" @click="deletebyid()">
                                <font-awesome-icon icon="fa-solid fa-trash" />
                            </button> 
                            | ...
                        </td>
                        </tr>
                        <tr class="text-center" v-if="this.item.data.type=='paid'">
                        <th scope="row">
                           <font-awesome-icon icon="fa-solid fa-user-check" />
                        </th>
                        <td>Target Audiance 1</td>
                        <td>
                            <p v-if="this.resultcount<this.item.data.max_attempt" style="color:#FFB536;">Haven't Reached</p> 
                            <p v-else-if="this.resultcount==this.item.data.max_attempt" style="color:green;">Reached</p>
                            <p v-else-if="this.resultcount>this.item.data.max_attempt" style="color:green;">Exceeding </p>
                            <p v-else>Exceeding </p>
                        </td>
                        <td>{{ this.item.data.max_attempt}}</td>
                        <td><span>{{ this.item.data.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</span></td>
                        <td>
                            <button class="btn" id="btn-edit" onclick="show()"
                            data-bs-toggle="modal"
                            data-bs-target="#editModal"
                            >
                            <font-awesome-icon icon="fa-solid fa-pencil" />
                            </button>
                            |...</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Modal Edit   -->
                <div
                class="modal fade"
                id="editModal"
                aria-labelledby="editLinkModalLabel"
                aria-hidden="true"
                >
                <div
                    class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable"
                >
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLinkLabel">Edit Target</h5>
                        <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        ></button>
                    </div>

                    <div class="modal-body">
                        <div class="row mb-3">
                        <div class="col">
                            <div class="container">
                            <label class="form-label">Edit target</label>
                            <input v-model="targetSurvey" type="text" class="form-control" id="targetSurvey" aria-describedby="textHelp"  placeholder="1" required  @keypress="isNumber($event)">
                            <span id="input-error" class="text-danger fw-light">
                                <!-- {{ error }} -->
                            </span>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row mb-3">
                        <div class="col">
                            <div class="container">
                            <div class="text-end">
                                <button
                                type="button"
                                class="btn btn-secondary me-2"
                                data-bs-dismiss="modal"
                                >
                                Batal
                                </button>
                                <button
                                type="button"
                                class="btn btn-orange ms-auto"
                                @click="editTarget"
                                >
                                Simpan
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <!-- End Modal Edit Link -->
            </div>
        </div>
    </div>
</template>

<script>
import ShareSurvey from './ShareSurveyNew.vue';
import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"

/* import the fontawesome core */
import { library } from '@fortawesome/fontawesome-svg-core'

/* import font awesome icon component */
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

/* import specific icons */
import { faPenToSquare, faTrash, faShareNodes, faUserCheck } from '@fortawesome/free-solid-svg-icons'
/* add icons to the library */
library.add(faPenToSquare,faTrash, faShareNodes, faUserCheck)

/* add font awesome icon component */
Vue.component('font-awesome-icon', FontAwesomeIcon)

Vue.config.productionTip = true

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));


export default {
    name: "StatusSurveyNew",
    props: ['survey_id'],
    components: { ShareSurvey },
    data(){
        return{
            item: {},
            resultcount: 0,
            target: 0,
            targetSurvey:0,
            /* This just for development environment.
            For production environment: accessKey must be on .env */
            accessKey: "30d2d9d234ef47e4818d9fbd19b5360e",
        }
    },
    mounted(){
        Vue.axios
        .get(`/api/surveyjs-showbyid/${this.survey_id}`)
        .then( response =>  {
            this.item = response.data;
            this.targetSurvey =  response.data.data.max_attempt;
            Vue.axios.get("https://api.surveyjs.io/private/Surveys/getSurveyResults/" +this.survey_id +"?accessKey=" +this.accessKey)
            .then((data) => {  
                this.resultcount = data.data.ResultCount;
            })
            .catch((error) => {
                alert("Belum ada jawaban");
            });
             })
        .catch(error => {
          alert(error.message)
        });
    },
  methods: {
    editTarget() {
      Vue.axios
        .put("/api/surveyjs-updatetarget/" + this.survey_id, {
          max_attempt: this.targetSurvey,
        })
        .then((response) => {
          alert(response.data.message);
          window.location.reload();
        })
        .catch((error) => {
          if (!error.response) {
            alert(error.message);
          }
          this.error = error.response.data.message;
        });
    },
    isNumber: function(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
        evt.preventDefault();;
      } else {
        return true;
      }
    },
    deletebyid() {
        Vue.axios.delete(`https://api.surveyjs.io/private/Surveys/deleteAllResults/${this.survey_id}?accessKey=${this.accessKey}`)
            .then(() => {
              Vue.axios.delete(`/api/surveyjs-deleteresultbyid/${this.survey_id}`)
              .then(() => {  
                  alert('sukses');
                  window.location.reload();
              })
              .catch((error) => {
                  //alert("Tidak ada jawaban");
                  alert(error.message)
              });
              // alert('sukses');
              // window.location.reload();
            })
            .catch(error => {
          alert(error.message)
        });
    },
  }
}
</script>

<style lang="scss" scoped>

</style>