<template>
  <div>
    <div id="creatorElement"  style="height: 100vh;" />
  </div>
</template>

<script>

import Vue from "vue"
import axios from "axios"
import VueAxios from "vue-axios"

Vue.use(VueAxios,axios)
Vue.use(require('vue-moment'));

import { SurveyCreator } from "survey-creator-knockout";

import "survey-core/survey.i18n.js";
import "survey-creator-core/survey-creator-core.i18n.js";

import "survey-core/defaultV2.css";
import "survey-creator-core/survey-creator-core.css";
import "/css/style-surveyjs.css"

export default {
  name: "SurveyCreator",
  props: ['survey_id'],
  mounted() {
    const survey_id = this.survey_id;

    const creatorOptions = {
      showLogicTab: true,
      isAutoSave: true,
      haveCommercialLicense: true
    };
    const creator = new SurveyCreator(creatorOptions);

    /* Load Survey Creator by ID from params */
    creator.loadSurvey(survey_id);

    /* Render Survey Creator */
    creator.render("creatorElement");

    /* Save Survey Creator by ID to SurveyJS Service using Private API */
    creator.saveSurveyFunc = function(saveNo, callback) {
      /* This just for development environment.
      For production environment: accessKey must be on .env and ID Survey from params */
      const accessKey = "30d2d9d234ef47e4818d9fbd19b5360e";

      Vue.axios.put(
          "https://api.surveyjs.io/private/Surveys/changeJson?accessKey=" + accessKey,
          {
            Id: survey_id,
            Json: creator.text,
            Text: creator.text
          },
      ).catch(error => {
        alert(error.message)
      })
    };
  }
};
</script>

<style scoped>

</style>