<template>
    <div class="text-center mt-4">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <img src="/assets/img/datalaporan.png" alt="..." max-width="1034px" >
    </div>
</template>

<script>
export default {
    setup () {
        

        return {}
    }
}
</script>

<style lang="scss" scoped>
    
</style>
