<template>
    <div class="row">
        <div class="col-6">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Assumenda saepe veniam quod recusandae natus. 
                Fuga aliquid dolorem ipsa perspiciatis odio, 
                quaerat cumque, libero tempora eos molestias nemo quasi molestiae dolores.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Assumenda saepe veniam quod recusandae natus. 
                Fuga aliquid dolorem ipsa perspiciatis odio, 
                quaerat cumque, libero tempora eos molestias nemo quasi molestiae dolores.
            </p>
        </div>

        <div class="col-6">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nama Lengkap</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">No. Handphone</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Comapany/Institution</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">How do you know Surveyasianews?</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="d-grid">
                    <button class="btn-pomegranate mt-4" type="submit">
                        Download
                    </button>
                </div>
            </form>
        </div>
        
    </div>
</template>

<script>
export default {
    setup () {
        

        return {}
    }
}
</script>
 <!--Start of Tawk.to Script-->
 <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/63296c9e37898912e96a3342/1gdct0j2b';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

<style lang="scss" scoped>
    .btn-pomegranate{
        border-radius: 50px;
    }
    form{
        background: #FFFFFF;
        box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 50px;
    }
</style>
