<template>
    <div>
        <!-- <div class="card">
        <div class="card-body">
            <img class="pic rounded-circle"
                src="/assets/img/photo-jones-ferdinand.png"
                width="46px"
                height="46px"
                alt="avatar">
            
            <p class="card-title">Selamat Datang!!</p>
            <h5 class="card-subtitle mb-2 text-muted">David Candra</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        </div> -->
        <!-- <div class="card p-3 mb-2">
            <div class="card-body">
                        <div class="d-flex">
                        <div class="d-flex flex-row align-items-center">
                            <div>
                                <img
                                src="/assets/img/photo-jones-ferdinand.png"
                                alt=""
                                width="45px"
                                height="45px"
                                class="rounded-circle"
                                />
                            </div>
                            <div class="ms-2">
                                <h6 class="mb-0">Selamat Datang!!</h6> 
                                <span>David</span>
                            </div>
                        </div>            
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div>
                                <img
                                src="/assets/img/Ticketing.png"
                                alt=""
                                width="45px"
                                height="45px"
                                />
                            </div>
                            <div class="ms-2">
                                <h6 class="mb-0">Total</h6> 
                                <span>Rp.50.000</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <div>
                                <img
                                src="/assets/img/Scan.png"
                                alt=""
                                width="45px"
                                height="45px"
                                />
                            </div>
                            <div class="ms-2">
                                <h6 class="mb-0">Tarik Saldo</h6> 
                                <span>Klik & Cek Riwayat</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex flex-row align-items-center">
                            <div class="ms-2">
                                <h6 class="mb-0">Lihat Selengkapnya</h6> 
                            </div>
                        </div>            
                    </div>
            </div>
           
        </div> -->
        <div class="card p-3 mb-2">
            <div class="card-body">
                <div class="d-flex">
                    <img
                        src="/assets/img/photo-jones-ferdinand.png"
                        alt=""
                        width="45px"
                        height="45px"
                        class="rounded-circle"
                    />
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2">
                            <h6 class="mb-0">Selamat Datang!!</h6> 
                            <span>David</span> 
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <div class="d-flex flex-row align-items-center">
                        <img
                            src="/assets/img/Ticketing.png"
                            alt=""
                            width="45px"
                            height="45px"
                        />
                        <div class="ms-2">
                            <h6 class="mb-0">Total</h6> 
                            <span>Rp 50.000</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <img
                            src="/assets/img/Scan.png"
                            alt=""
                            width="45px"
                            height="45px"
                        />
                        <div class="ms-2">
                            <h6 class="mb-0">Tarik Saldo</h6> 
                            <span>Klik & Cek Riwayat</span>
                        </div>
                    </div>
                </div>
                <a href="#" class="text-center text-muted">Lihat Selengkapnya</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    setup () {
        

        return {}
    }
}
</script>

<style lang="scss" scoped>
    .card{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 417px;
    }
</style>