<template>
    <div>
        <carousel :autoplay="true" :nav="false" :margin="10" :autoWidth="true" :autoHeight="true">
            <div>
                <img 
                    src="/assets/img/banner.png" 
                    alt=""
                    width="758px"
                    height="177px"
                >
            </div>

            <div>
                <img 
                    src="/assets/img/banner.png" 
                    alt=""
                    width="758px"
                    height="177px"
                >
            </div>

            <div>
                <img 
                    src="/assets/img/banner.png" 
                    alt=""
                    width="758px"
                    height="177px"
                >
            </div>

            <div>
                <img 
                    src="/assets/img/banner.png" 
                    alt=""
                    width="758px"
                    height="177px"
                >
            </div>
        
        </carousel>
    </div>
</template>

<script>
    import carousel from "vue-owl-carousel";
export default {
    components: { carousel },
}
</script>

<style lang="scss" scoped>

</style>