<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-0 shadow-sm">
      <div class="container-fluid mx-4">
        <a href="/admin/dashboard"
          ><img
            class="img-fluid mb-2 mt-2"
            src="/assets/img/surveyasia_black.png"
            alt=""
            style="max-width: 200px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto align-items-center">
            <!-- Navbar dan Notifikasi-->
            <div class="fs-3 my-3 mx-3 d-lg-block d-none"></div>
            <li class="nav-item">
                <router-link class="nav-link active" aria-current="page" to="/landing-page">
                  <p class="my-3 ml-4">Home</p>
                </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" to="/landing-page">
                  <p class="my-3 ml-4">Kontak</p>
                </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link active" aria-current="page" to="/landing-page">
                  <p class="my-3 ml-4">VikAsia</p>
                </router-link>
            </li>

            <li class="nav-item my-3 ml-4">
              <a class="nav-link" href="#">
                <img
                  src="/assets/img/photo-jones-ferdinand.png"
                  alt=""
                  width="45px"
                  height="45px"
                  class="rounded-circle"
                />
              </a>
            </li>
  
            <li class="dropdown nav-item">
              <a
                class="nav-link dropdown-toggle text-center text-black"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                David
              </a>
              <ul
                class="dropdown-menu dropdown-menu-lg-end p-3 my-1"
                aria-labelledby="dropdownMenuLink"
                style="background-color: #fff; border-top: 5px solid #ef4c29"
              >
                <li>
                  <a class="dropdown-item" href="/admin/profile">
                    <i class="fs-5 align-middle bi bi-person-fill me-2"></i>
                    Profile Settings
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/cs">
                    <i class="fs-5 align-middle bi bi-headset me-2"></i>
                    Customer Service
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/user-management">
                    <i class="fs-5 align-middle bi bi-people me-2"></i>
                    User Management
                  </a>
                </li>
                <li>
                  <form action="/logout" method="post">
                    <button type="submit" class="dropdown-item">
                      <i
                        class="fs-5 align-middle bi bi-box-arrow-in-right me-2"
                      ></i>
                      Log Out
                    </button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </template>
  
  <script>
  export default {
    name: "HeaderDashboard",
  };
  </script>
  
  <style scoped>
  .navbar {
    min-height: 90px;
  }
  
  .admin-profile {
    width: 45px;
  }
  
  @media (max-width: 425px) {
    .logos {
      width: 150px;
    }
  
    .admin-profile {
      width: 35px;
    }
  }
  </style>
  