<template>
    <div class="mt-5">
        <router-link class="routerLink text-black" to="#">
            <div class="card card-background mb-4" style="padding:1rem;">
                <div class="row g-0">
                    <div class="col-md-9">
                        <div class="d-flex">
                            <div class="card-body mt-2">
                                <h5 class="card-text"><b>Title Survey</b></h5>
                                <div class="d-flex mt-4">
                                    <i class="fa fa-tag icon-color mr-2" style="font-size: 16px"></i>
                                    <h6>Tags</h6>
                                </div>
                                <div class="row d-flex mt-4">
                                    <div class="col-12">
                                    <label class="tags-item">Teknologi</label>
                                    <label class="tags-item">Bisnis</label>
                                    <label class="tags-item">Lorem Ipsum</label>
                                    <label class="tags-item">Lorem Ipsum</label>
                                    <label class="tags-item">Lorem Ipsum</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"  style="padding:3rem;">
                    ABCD
                    </div>
                </div>
            </div>
        </router-link>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>

.card-background{
    background-color: none;
}

.routerLink{
     text-decoration: none;
 }

img{
    height: 250px;
}

.btn-view {
    align-self: flex-end;
    height: 50px;
    color: #fff;
    background-color: #EF4C29;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    font-size: 1.1rem;
    border-radius: 0.35rem;
}

.btn-view:hover {
    color:#EF4C29;
    background-color: #fff;
}
.icon-color{
    color: #EF4C29;
}
</style>