<template>
  <div class="my-5">
    <router-link class="routerLink text-black" to="#">
    <div class="row mt-3">
      <div class="col-12">
        <img src="/assets/img/Rectangle 983.png" alt="" />
        <p class="card-text text-muted fw-500 fs-16px mt-3">
          26 Sept 2022
        </p>
        <h4 class="card-text mb-3"><b>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </b></h4>
        <label class="tags-item text-light">Teknologi</label>
      </div>
    </div>
    </router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.routerLink{
     text-decoration: none;
 }
.tags-item {
  padding: 3px 32px;
  background: #EF4C29;
  border-radius: 5px;
}
</style>