<template>
  <div class="my-5">
    <router-link class="routerLink text-black" to="#">
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <img class="card-img" src="/assets/img/Rectangle 983.png" alt="Card image" style="height: 500px; border:0;">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
          <div class="card-body">
            <p class="card-text text-muted fw-500 fs-16px mt-10">
              11 September 2022 - 10:30 WIB
            </p>
            <h2 class="card-text text-white mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h2>
            <p class="card-text text-white fw-light fs-18px">
              Quam id in ullamcorper sit pellentesque. Fringilla amet, vestibulum sollicitudin sapien consectetur. Gravida lorem arcu sed nunc convallis vestibulum condimentum turpis amet. Gravida lorem arcu sed nunc convallis vestibulum condimentum turpis amet.
            </p>
          </div>  
          </div>
          </div>
      </div>
    </div>
    </router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.card-body{
  padding: 19rem 3rem 3rem 3rem;
}
@media screen and (max-width: 992px) {
    .card-body {
        padding: 2rem 2rem 1rem 2rem;
    }
}
.routerLink{
     text-decoration: none;
 }
.tags-item {
  padding: 3px 32px;
  background: #EF4C29;
  border-radius: 5px;
}
</style>